/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 08-Oct-2020, 7:33:35 PM
    Author     : maheshbasapur
*/

.session-card-heading{
    padding-bottom: 10px;
}

.session-card{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #dee2e6;
}

.participant-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Submitted-Documents{
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 10px;
}

.participant-avatar-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.resource-content-row{
    background-color: #fff!important;
}
.marks{
    text-align: center;
    margin-left: -1px;
    background-color: #d76f5f;
    color: #fff;
    border-radius: 50%;
    width: 35px!important;
    height: 40px!important;
}
.Points{
    margin-left: 4px;
    margin-top: 6px;
}

.parName{
    margin-top: 6px;

}
.card-name{
    margin-top: 5px;
}

.assignment-list {
    font-size: 15px;
}

.assignment-references {
    border-right: 1px solid gray;
}

.card.Asssignment-card {
    color: #808080;
    margin: 5px;
    padding: 5px;
    background-color: white;
    height: calc(100% - 10px);
}

@media screen and (max-width: 480px) {
    .marks{
        /* display: none!important; */
        margin-top: 5px;
        font-size: 12px;
        border-radius: 50%;
        width: 35px!important;
        height: 35px!important;
        /* margin: 0px!important; */
    }
    .card-name{
        font-size: 12px;

    }
    .pic-name{
        margin-right:7px!important;
        margin-left: 7px!important;
    }
    .quizCard{
        margin-left: 13px!important;
    }
}
@media screen and (max-width: 800px) {
    .marks{
        /* display: none!important; */
        padding-left: 5px!important;
        margin-top: 5px;
        font-size: 12px;
        border-radius: 50%;
        width: 35px!important;
        height: 35px!important;
        /* margin: 0px!important; */
    }
    .card-name{
        font-size: 12px;
        margin: 0px!important;
    }
    .pic-name{
        margin-right:7px!important;
        margin-left: 7px!important;
    }
    .quizCard{
        margin-left: 13px!important;
    }
}
.delete-button{
    width:20%!important;
    margin-top: 29px;
    background-color:#B8B8B8!important;
    color:#fff!important;
}

.delete-button:hover{
    background-color:#d76f5f!important;
    color:black!important;
}
.modal {
  overflow-y:auto;
}

.suggested_resubmission{
    background-color:#d76f5f;
}

.to_be_submitted{
    background-color:#808080;
}

.accepted{
    background-color:#4EA876;
}

.submitted{
    background-color:#60c8d7;
}
.assignment_status{
    border-radius:5px;
    display: inline;
    color: #fff;
    padding: 5px;
    opacity: 0.8;
}
.assignment_status:hover{
    opacity:1;
}
.submission-card-body{
    padding:10px!important
}

.reviewButton{
    width:80px;
    margin: 0px!important;
}

.assignment-description p{
    margin-left:0px!important;
}
