.facilcircle {
    font-size: 10px;
    color: #000;
}

.facilmessage-heading {
    padding: 5px;
}
.facilmessage-heading{
        padding: 5px;
     transition: box-shadow .3s;
     border-bottom:  1px solid #ccc;
    }
.facilmessage-heading:hover{
      box-shadow: 0 0 10px rgba(33,33,33,.2); 
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

.message-heading.collapsed-session.session-item-light {
    background-color: white;
    color: black;
}

.message-heading.expanded-session {
    background-color: #01435c;
    color: white;
}

.facilmessage-heading.expanded-session {
    background-color: lightgray;
    color: black;
}

.message-heading.collapsed-session.session-item-dark {
    background-color: darkgray;
    color: white;
}

.facilmessage-heading.collapsed-session.session-item-dark {
    background-color: darkgray;
}

.message-heading.collapsed-session.session-item-light:hover {
    background-color: #60c8d7;
    color: black;
}


.message-heading.collapsed-session.session-item-dark:hover {
    background-color: #60c8d7;
    color: black;
}

.facilmessage-heading.collapsed-session.session-item-dark:hover {
    background-color: lightgray;
    color: black;
}

.message-heading-element2 {
    text-align: center;
}


.facilmessage {
    margin-left: 12%;
    margin-top: 100px !important;
}

.facilsession {
    border: 1px solid darkgrey;
    margin: 1rem!important;
    margin-left: 2rem!important;
}

@media (min-width: 1200px) {
    .facilcont {
        margin-left: 12% !important;
        margin-top: 100px !important;
        width: 90% !important;
    }
}

@media (min-width: 992px) {
    .facilcont {
        margin-left: 12% !important;
        margin-top: 100px !important;
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .facilcont {
        margin-left: 12% !important;
        margin-top: 100px !important;
        width: 100%;
    }
    .btn-dasa{
        margin-left: auto!important;
    }
}

@media (min-width: 576px) {
    .facilcont {
        margin-top: 100px !important;
        width: auto;
    }
}

@media (min-width: 300px) {
    .facilcont {
        margin-top: 100px !important;
        width: 100%;
    }
}

@media (max-width:575px) {
    .message-heading-element2 {
        text-align: left;
    }
}

.facilitator_message_body{
    padding: 10px;
}
.btn-dasa{
    background-color: #D76F5F;
}
.hiddenSubject{
    width: 100%;

}
.subject{
    width: 90%;
    height: auto;
    line-height: 35px!important;
}
.back-button{
    margin-left: 50px;
}

.grey{
    color: grey;
}
.count{
  font-size:0.9em;
  color : grey;
}
.bold-font{
  font-weight:800;
}
.lightgray-button{
  background-color: lightgray;
}
.lightgray-button:hover{
  background-color: gray;
}
.inbox-attachments{
  color: rgb(87, 88, 89)!important;
font-size: 0.85rem;
font-weight: 400;
line-height: 20px;
}
.inbox-attachments{
color: rgb(87, 88, 89)!important;
font-size: 0.85rem;
font-weight: 400;    
align-items: center;    
border-radius: 15px;
box-shadow: inset 0 0 0 1px rgb(100 121 143 / 30%);
box-sizing: border-box;  
padding: 0 12px;
max-width: 160px;
min-width: 64px;

}
.inbox-attachments:hover{
  color: rgb(95, 199, 215)!important;
}
.white-background{
  background-color: white;
}
.remove-attachment{
        color: gray;
         vertical-align: middle;
    }
.remove-attachment:hover {
    color: #d76f5f;
    vertical-align: middle;
}

.ql-editor p{
    line-height: 1.75rem!important;
}

.dropdown.bootstrap-select{
  width: 95%!important;
}

.nice-font{
        font-size: 0.95rem;
}