.navIcon {
    height: 17px;
    letter-spacing: 22px;

}

.top-nav-bar-logo{
    height: 70px;
    width: 200px;
    object-fit: contain;
}

@media (min-width: 768px) {
  .navbar-items {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .navbar-items {
    visibility: visible;
  }
}

.navCol {
    position: relative;
    color: #fff;
    background-color: #f9f7f7;
}

.dropdown, .dropleft, .dropright, .dropup {
    margin-left: 15px;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.nav-item .counter{
  position: relative;
  top: -20px;
  border-radius: 50%;
  background-color: #D76F5F;
  color: white;
  display: inline-block;
  text-overflow: ellipsis;
  left: -10px;
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  font-weight: 600;
}
