

.gray_wrap {
    background-color: lightgray;
    padding: 50px;
}

.session-collapse-button {
    padding: 10px;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
    margin-left: 3px;
    margin-bottom: 5px;
}

.btn-linkedin {
    background-color: #0e76a8;
    color: white;
   margin-left: 3px;
   margin-bottom: 5px;
}

.btn-instagram {
    background-color: #3f729b;
    color: white;
    margin-left: 3px;
    margin-bottom: 5px;
}

.btn-miro {
    background-color: #FFC531;
    color: white;
    margin-left: 3px;
    margin-bottom: 5px;
}

.btn-twitter {
    background-color: #00acee;
    color: white;
    margin-left: 3px;
    margin-bottom: 5px;
}

.btn-slack {
    background-color: #4C154C;
    color: white;
    margin-left: 3px;
    margin-bottom: 5px;
}

.home-button{
    text-align: right;
}

#session-container {
    border: 1px solid;
}

.row.session-row1 {
    background-color: #60C8D7;
    padding-top: 20px;
}

.row.session-row2 {
}

.row.session-row2 {
    background-color: #02435C;
    color: white;
    padding-top: 20px;
}

.btn-dasa {
    background-color: #D76F5F;
}

.dropdown-dasa {
    color: #02435C;
}

.session-item-header-dark {
    background-color: #02435C;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}

.session-item-header-light {
    background-color: #60C8D7;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.row.session-item-content {
    padding-left: 10px;
}

.session-content-heading-orange {
    background-color: #D76F5F;
    font-size: larger;
}

.session-content-heading-lightgray {
    background-color: #E9ECEF;
    font-size: larger;
    border-top: 1px solid;
    border-color: gray;
    
}
.session-content-heading-lightgray i{
    color: #D76F5F;
}

.session-recording-heading {
    background-color: gray;
    font-size: larger;
}

.session-recording-collapse-btn {
    background-color: grey;
    font-size: larger;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

#nav-item-home {
    color: #60C8D7;
}

#navbarCollapse-1 {
    margin-right: 30px;
}

#session-table-heading {
    background-color: #60C8D7;
    color: white;
    padding: 10px;
}


.session-recording-collapse-btn {
    color: white;
}


.session-content-heading-orange {
    background-color: #D76F5F;
    font-size: larger;
    padding: 10px;
    color: white;
}


.nav-item {
    margin-right: 20px;
    color: rgb(87, 88, 89);
}

.social-icon-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #F7F7F7;
    line-height: 2.3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.footer-items{
    padding-top: 10px;
   
}

.list-item-separate{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    
    color: #fff;
    text-align: center;
    background: gray;
    line-height: 2.3;
    
}

.footer-basic {
   
    padding-top: 20px;
    padding-bottom: 30px;
}



