.brand-logo {
    font-size: 16px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#to-do {
    color: #5EC7D7;
}

#add-new-item {
    font-size: 40px;
}

.input-item {
    margin-top: 10px;
}

#navcol-2 li:hover{
    color: #5EC7D7;
}

#card-style {
    background-color: white;
    position: absolute;
    left: 10vh;
    top: 15vh;
    padding: 30px;
    box-shadow: 0px 0px 2px 0px gray; 

}



@media (min-width: 576px) {
    #card-style {
        background-color: white;
        position: absolute;
        left: 20vh;
        top: 15vh;
        padding: 30px;
        box-shadow: 0px 0px 2px 0px gray;
    }
}

/* Medium devices (tablets) */

@media (min-width:768px) {
    #card-style {
        background-color: white;
        position: absolute;
        left: 30vh;
        top: 15vh;
        padding: 25px;
        box-shadow: 0px 0px 2px 0px gray; 

    }
}

/* Large devices (desktops) */

@media (min-width:992px) {
    #card-style {
        background-color: white;
        position: absolute;
        left: 40vh;
        top: 15vh;
        padding: 30px;
        box-shadow: 0px 0px 2px 0px gray; 

    }
}

/* Extra large devices (large desktops) */


@media (min-width:1200px) {
    #card-style {
        background-color: white;
        position: absolute;
        left: 60vh;
        top: 15vh;
        padding: 30px;
        box-shadow: 0px 0px 2px 0px gray;
    }
}

#card-body {
    background-color: #f7f7f7;
}

#cookie_notification{
    font-size: 12px;
}


