
/* Main section (setup-card-1) */

#list{
  width: 95%;
}
.dropdown.bootstrap-select{
  width: 95%!important;
}
#subject{
  width: 90%;
}
.message-display-1 {
    width: 85%!important;
    margin-top: 80px;
    border-radius: 2px;
    margin-left: 15%!important;
}
@media (max-width: 768px) {
    .message-display-1  {
      width: 90%!important;
      margin-top: 80px;
      border-radius: 2px;
      margin-left: 5%!important;
    }
}
@media (max-width: 576px) {
  .message-display-1  {
    width: 90%!important;
    margin-top: 80px;
    border-radius: 2px;
    margin-left: 5%!important;
  }
}

    .message-display-2{
        margin-left: 15%!important;

    }
    .fa-arrow-left {
        color: grey;

    }
    .message-grey {
        color: grey;
    }
    .message-black {
        color: black;
    }
    .message-user-avtar{
        /* padding-right:  2px; */
        margin-left: 1rem;
    }

    .facilcircle{
        padding: 1px;
    }
    .message-subject{

    }
    .message-participant{
        font-size: 0.85rem;
    }

    .message-padding{
        padding-left: 5%;
    }
    .message-padding2{
        padding-left: 4%;
    }


    .messages-body-card{
        width: 100%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        padding: 10px;
        margin: 20px;
        height :auto;
    }

    .message-target{
        font-size: 12px;
    }
    .form-submit{
        color:#ffffff ;
        background-color: #D76F5F;
        padding: 5px!important;


    }
    .form-controls{
        height: 200px!important;
        border-radius:0px;

    }

    .form-close{
        background-color: #D3D3D3!important;
        padding: 5px!important;
    }

    .form-group{
        padding: 10px;
    }
    .spacer{
        padding-top: 5px;
        text-align: right!important;
    }

    #Subject{
        width: 100%;
    }

    .time{
        padding-left: 30%;
    }
    #sender{
        margin-right: 50%;
        /* padding-right: 5%; */
    }
    .messages-body-facilitator{
        width: 100%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff;
        background-clip: border-box;

        padding: 5px;
    }
    #sender-message{

        border-radius: 5px;
        padding: 5px;
        margin: 10px 0;
        border-color: #ccc;
        background-color: #ddd;
        margin-left: 5%;
        margin-right: 1%;

    }
    #other-message{
        background-color: #ddd;
        border-radius: 5px;
        padding: 5px;
        margin: 10px 0;
        margin-right: 5%;
        margin-left: 1%;

    }

    .align-text-right{
        text-align: right;
    }
    .align-text-left{
        text-align: left;
    }
    .reply{
        margin: 10px;
    }
    .reply-button{
        padding-right: 25px;
        /* margin-right:  1%; */
    }
    .pic-div{
        padding-right: 0!important;
        padding-left: 0!important;

    }
    .back-button-div{
        margin-right: 1%;
        margin-left: 1%;
        background-color: #DCDCDC;
        padding: 5px;
        border-radius: 5px;
    }

    .form-group{
        width: 100%;
        margin-left: 15%
    }
    .left-spacer{
        margin-left: 5%;
    }
    .left-spacer-learner{
        margin-left: 15%;
    }
    .btn-dasa {
    background-color: #D76F5F;
    }
    .count{
      font-size:0.9em;
      color : grey;
    }
    .bold-font{
      font-weight:800;
    }
    .attachments{
    color: rgb(87, 88, 89)!important;
    font-size: 0.85rem;
    font-weight: 400;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgb(100 121 143 / 30%);
    box-sizing: border-box;
    padding: 0 12px;
    max-width: 160px;
    min-width: 64px;
    }
    .attachments:hover{
      color: rgb(95, 199, 215)!important;
    }
    .lightgray-button{
      background-color: lightgray;
    }
    .lightgray-button:hover{
      background-color: gray;
    }
    .upload-button {
      padding-top: 10px;
    }
    .inbox-attachments{
      padding-top: 5px;
    }
    /*.message-heading{
      padding: 5px;
      border-bottom: 1px solid lightgray;
       /*box-shadow: 10px 10px 5px grey;*/
       /*transition: box-shadow .3s;*/
    /*}*/

    .message-heading{
        padding: 5px;
     transition: box-shadow .3s;
     border-bottom:  1px solid #ccc;
    }
    .message-heading:hover{
      box-shadow: 0 0 10px rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
    .remove-attachment{
     color: gray;
     vertical-align: middle;
    }
    .remove-attachment:hover {
        color: #d76f5f;
        vertical-align: middle;
    }

    .ql-editor p{
        line-height: 1.75rem!important;
    }

    .nice-font{
        font-size: 0.95rem;
    }
