

.bodycontent{
  position: relative;
  min-height: 500px;

}
.maincontent{
    display: block!important;
/*    height: -webkit-fill-available!important;*/
    /*height: 50%!important;*/
    position: relative!important;
    /*overflow: scroll;*/
}

.participantpromo{
  /*height: -webkit-fill-available!important;*/
  position: absolute!important;
  top:0;
}
.body-background {
    background-color: #f4f5f7;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden!important;
}
/* Dashboard Top Heading */

@media (max-width: 796px) {
  .card-top-heading {
    color: #02435c;
    font-size: 24px!important;
    margin-bottom: 10px;
    padding-left: 0px;
  }
}

.card-top-heading {
  color: #02435c;
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 0px;
}

/* 30 Day overview */

.topHeading-col {
  background-color: rgba(233,230,230,0.57);
  padding: 5px;
  border-bottom: 1px solid #c5c1c1;
}

.heading-2 {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 16px;
}

.overview-row {
  margin-right: 0px;
  margin-left: 0px;
}

.prog-par-col {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.card-thumbnail {
  padding-right: 0px;
}

@media (max-width: 556px) {
  .card-thumbnail {
    margin-bottom: 5px!important;
    padding-right: 0px;
  }
}

.card-heading-dashboard {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: rgba(128,128,128,0.68);
}

.blue-icon {
  color: #02435c;
}

.courceName-para {
  border: 1px solid gray;
  font-size: 8px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  margin-right: 1px !important;
  margin-left: 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
  padding: 10px;
}

.fundamental.number {
  padding-right: 2px;
  font-weight: 800;
  color: rgb(96,200,215);
}

.product-item {
  color: #02435c;
}

.product.number {
  padding-right: 2px;
  font-weight: 800;
  color: #02435c;
}

.coach-item {
  color: rgba(9,0,0,0.68);
}

.coach.number {
  padding-right: 2px;
  font-weight: 800;
  color: #d76f5f;
}

.current-prog-col {
  padding-left: 5px!important;
  padding-right: 0px!important;
}

@media (max-width: 796px) {
  .current-prog-col {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

.current-prog-cardbody {
  padding-left: 5px;
}

.card-heading {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: rgb(128,128,128);
}

.current-prog-div {
  background-color: #f7f7f7;
}

.current-prog-col2 {
  padding: 3px;
}

.current-prog-heading {
  font-size: 10px;
  margin-bottom: 15px;
}

/* section */

.second-section {
  margin-top: -20px;
}

.main-div {
  padding: 2%;
}

/* card top heading */

.card-top-sub-heading {
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 0px;
  color: #02435c;
}

/* section 2 */

.explore-row {
  margin-right: 0px;
  margin-left: 0px;
}

.explore-col {
  padding-right: 10px!important;
  padding-left: 10px!important;
}

.card-row-dash {
  padding-left: 5px;
  padding-right: 5px;
}

.card-padding-dash {
  margin-right: 5px!important;
  padding: 0px;
  margin: 0px;
}

.section2-cards {
  padding: 10px;
}

@media (max-width: 768px) {
  .section2-cards {
    margin-top: 10px;
    padding: 10px;
  }
}

/* Main section (setup-card-1) */

@media (min-width: 1200px) {
  .setup-card-1 {
    width: 70%!important;
    /*margin-top: 80px;*/
    margin-top: 0px!important;
    background-color: #f4f5f7;
    border-radius: 2px;
    margin-left: 15%!important;
  }
}

@media (min-width: 992px) {
  .setup-card-1 {
    width: 70%!important;
    /*margin-top: 80px;*/
    padding: 40px 40px;
    margin: 0 auto 25px;
    border-radius: 2px;
    margin-left: 15%!important;
  }
}

@media (min-width: 768px) {
  .setup-card-1 {
    width: auto;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    margin-left: 15%!important;
    /*margin-top: 80px;*/
  }
}

@media (min-width: 576px) {
  .setup-card-1 {
    width: auto;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    position: absolute;

    /*margin-top: 80px;*/
    margin-left: 0%;
  }
}

@media (min-width: 300px) {
  .setup-card-1 {
    width: auto;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    margin-left: 0%;
    /*margin-top: 80px;*/
    
  }
}

/* program select */

.select-session-video {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.session-select {
  width: 100%;
  height: 29px;
}

.left-select-padding {
  margin-left: 20px;
}

.session-video-icon {
  float: right;
  padding-right: 5px;
  color: #2E8CFF;
}

.select-border {
  border: 0px solid #ffffff!important;
}

.resource-size {
  font-size: 20px;
}

.zero-padding {
  padding: 0px!important;
}

.left-margin-zero {
  margin-left: 0px!important;
}

.card-image {
  display: block;
  width: 65%;
  padding: 20px;
}

.module-section1-size {
  font-size: 12px;
  color: #000000;
}

.objective-list {
  margin-left: 10px;
}

/* Add resource icon */

.assign-icon {
  color: #cccccc;
  font-size: 15px;
}

.assign-icon:hover {
  color: #02435c;
}

.five-padding {
  padding: 5px!important;
}

.select-session {
  
  text-align: end;
  padding-left: 27px;
}

.left-five-padding {
  padding-left: 5px!important;
}

/* Upload Button */

.file-input-properties {
  display: inline-block;
  margin: 10px;
  background-color: #d76f5f;
  color: #fff;
}

@media (max-width: 576px) {
  .file-input-properties {
    display: inline-block;
    margin: 0px!important;
    background-color: #d76f5f;
  }
}

.orange-button {
  background-color: #d76f5f;
  color: #fff!important;
}

.white-background {
  background-color: #ffffff!important;
}

.button-div {
  margin-top: 10px;
}

.fifteen-padding {
  padding-right: 15px!important;
  padding-left: 15px!important;
}

/* Quick Glance Card */

.quick-glance-card {
  margin-bottom: 5px;
  padding-right: 0px!important;
}

@media (max-width: 576px) {
  .quick-glance-card {
    margin-right: 5px;
    margin-bottom: 10px;
    padding-right: 0px!important;
  }
}

/* Assignment Page */

.session-name {
  margin-bottom: 10px;
  padding-left: 0px;
  color: #02435c;
  font-size: 20px!important;
}

.assignment-page-card-col {
  padding: 0px!important;
}

.assignment-page-card-padding {
  padding: 15px!important;
}

.assignment-page-card-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #5e6c84;
}

.assignment-inner-card {
  margin-bottom: 2px;
}

@media (max-width: 576px) {
  .assignment-inner-card {
    margin-bottom: 5px;
  }
}

.assignment-inner-card:hover {
  margin-bottom: 2px;
  background-color: #d76f5f;
}

.assignment-inner-card-body {
  padding: 10px;
  margin-bottom: 0px;
  color: rgb(255,255,255);
}

.assignment-inner-card-para {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(1,5,8);
  margin-bottom: 0px;
}

.session-page-card-button {
  background-color: #ECEDF0;
  border: none;
  color: #808080;
  margin-top: 5px;
  font-size: 12px;
 
}

.session-page-card-button:hover {
  background-color: #02435c;
  border: none;
  color: #ffffff;
  margin-top: 5px;
  font-size: 12px;
 
}

/* submitted assignment page */

.submitted-assignment-section {
  padding: 1%;
}

.giveBorder {
  border: 1px solid rgba(228,228,229,0.92);
}

.container-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.table-row {
  background-color: #f7f7f7;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.table-img-col {
  margin-left: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table-img {
  padding: 0px;
  height: 40px;
}

@media (max-width: 576px) {
  .table-img {
    padding: 0px;
    height: 25px!important;
  }
}

.table-col {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.table-name {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .table-name {
    font-size: 10px!important;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}

.person-name {
  font-size: 14px;
}

.row-para {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.scored-font {
  font-size: 15px!important;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.table-div {
  display: flex;
  vertical-align: middle;
  align-items: center;
  display: table-cell;
}

.module-card-row {
  padding: 0px!important;
}

@media (max-width: 576px) {
  .small-screen-hidden {
    display: none!important;
  }
}

.assignment-page-module {
  margin-left: 0px!important;
}

.completed-col {
  padding-right: 5px!important;
}

.no-border {
  border: none;
  background-color: rgba(255,255,255,0);
}

.card-padding-module {
  padding: 1px;
}

.completed-card {
  background-color: #02435c;
  color: #fff;
}

.module-name-size {
  font-size: 11px;
  margin-top: 10px;
}

.pending-card {
  background-color: #5cc8d8;
  color: #fff;
}

.home-row-margin {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.table-container-col {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.table-hidden-row {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.left-right-zero-padding {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.card-padding {
  padding: 5px;
}

.row-zero-padding {
  padding: 0px!important;
}

.assignment-card-padding {
  padding-right: 1px!important;
}

.session-name-card {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.border-collapse {
  border-right: none;
  border-radius: 0px!important;
}

.vertically-center {
  display: flex;
  align-items: center;
}

.session-name-size {
  font-size: 12px;
  margin-top: 5px;
}

.module-name-card {
  height: 50px;
}

.borderRight-none {
  border-right: none;
  border-bottom: none;
  border-radius: 0px!important;
}

.completed-assign-card {
  padding: 5px;
}

.assignment-card-completed {
  height: 39px;
}

.assignment-cardbody {
  padding: 2px!important;
}

.assignment-name-size {
  font-size: 9px;
}

/* crumbed */

.crumbed {
  padding: 2%;
}

@media (max-width: 576px) {
  .crumbed {
    padding: 2%;
    margin-bottom: 5px;
  }
}

@media (min-width: 300px) {
  .slash-heading {
    margin-bottom: -15px;
    color: #495158;
    font-size: 13px;
  }
}

@media (min-width: 576px) {
  .slash-heading {
    margin-bottom: -15px;
    color: #495158;
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .slash-heading {
    margin-bottom: -15px;
    color: #495158;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .slash-heading {
    margin-bottom: -15px;
    color: #495158;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .slash-heading {
    margin-bottom: -15px;
    color: #495158;
    font-size: 15px;
    position: sticky;
  }
}

.slash-link {
  font-size: 16px;
  color: #495158;
}

.slash-link:hover {
  color: #353a3f;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .slash-link {
    font-size: 12px!important;
    color: #495158;
  }
}

.slash-btw-links {
  margin-left: 5px;
  margin-right: 5px;
}

/* specific program */

.icon-col {
  margin-right: 0px;
  padding: 0px;
}

@media (max-width: 576px) {
  .icon-col {
    margin-right: 15px;
  }
}

.top-heading-image {
  width: 50%;
}

.card-top-heading-col {
  padding: 0px;
  margin-left: -25px;
}

.facilitator-content-col {
  margin-bottom: 0px;
  padding: 0px!important;
}

@media (max-width: 576px) {
  .facilitator-content-col {
    margin-bottom: 10px;
  }
}

/* Modules page */

.module-card-body {
  padding: 15px;
}

.assignment-cardbody {
  padding: 5px;
}

.assignment-card-heading {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: rgb(128,128,128);
  padding-left: 10px;
  padding-top: 10px;
}

/* schedule page */

.form-container {
  width: 100%;
}

.session-card {
  width: 100%;
}

.schedule-card {
  background-color: #ffffff;
}

.session-card-padding {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.sessions-row {
  width: 100%;
  background-color: #f7f7f7;
  height: 55px;
  margin-left: 0px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .sessions-row {
    width: 100%;
    background-color: #f7f7f7;
    height: 115px!important;
    margin-left: 0px;
  }
}

.div-coach {
  color: #061421;
}

.schedule-para {
  margin: 0px;
  margin-left: 0px;
  margin-bottom: -20px;
  font-size: 13px;
}

.date-time-col {
  padding: 10px;
  margin-top: 10px;
}

.start-date {
  padding: 20px;
}

@media (max-width: 576px) {
  .start-date {
    padding-top: 20px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

.schedule-date-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 6px;
  padding-right: 0px;
}

.date-div {
  width: 50%;
  display: inline;
  float: left;
}

@media (max-width: 576px) {
  .date-div {
    width: 100%!important;
    margin: 0px!important;
    padding-left: 8px;
    margin-bottom: 5px!important;
    
  }
}

.date-label {
  font-size: 14px;
  margin-bottom: 0px;
  display: inline;
}

.date-col {
  margin-left: -15px;
}

.date-input {
  height: 27px;
  width: 55%;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0px;
}

@media (max-width: 576px) {
  .date-input {
    height: 27px;
    width: 70%!important;
  }
}

.time-div {
  width: 50%;
  display: inline;
  float: left;
}

.session-next-button {
  width: 15%;
  padding-right: 25px;
  background-color: #d86f5f;
  border: none;
}

@media (max-width: 576px) {
  .session-next-button {
    width: 35%!important;
    padding-right: 25px;
    background-color: #d86f5f;
    border: none;
  }
}

/* create new page */

.card-color {
  background-color: rgb(255,255,255);
}

.h4, h4 {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    margin-bottom: 30px;
    display: inline-block;
    max-width: none;
    color: #393939;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.subject-card {
    font-size: 10px;
    width: 250px;
    padding: 10px;
}

.objective-list {
    margin-left: 10px;
}


.general-icon-in-body {
    font-size: 24px;
    color: #60c8d7!important;
    display: inline-block;
    float: right;
}

.general-select-in-body {
    width: 100%;
    height: 35px;
}

.select-border {
    border: 1px solid #ced4da !important;
}
