.card-left-right-margin{
	margin-left: 2.5px!important;
	margin-right: 2.5px!important;
}

.zero-margin-left{
	margin-left: 0px!important;
}

.zero-margin-right{
	margin-right: 0px!important;
}

.main-heading-card{
	padding-left:5px!important; 
	padding-right:5px!important; 
	padding-top:5px!important; 
	padding-bottom:0px!important; 
}

.details-card-body{
	font-size: 10px;
}

.zero-padding-left-right{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.left-right-padding-border{
	margin-left: 0px!important;
	padding-left: 4px!important;
	padding-right: 4px!important;
}

.deadline-approaching-fontsize{
	font-size: 13px;
}

.no-border{
	border:none;
}

.top-margin{
	margin-top: 15px!important;
}


.prev, .next {
  font-size: 0.1em!important;
}
/*For the Pagination table*/
body{

    /*background-color: #eee; */
}

table th , table td{
    text-align: center;
}

/*table tr:nth-child(odd){
    background-color: #ade2eb!important;
}*/
table thead tr th{
    background-color: #02435c!important;
    color: #fff;
}
/*table tr:nth-child(even){
    background-color: #fff!important;
}*/

.tooltipTable{
	background-color: white;
}


table tr{
	font-size: 12px;
	
}

table tr td{
	text-align: left!important;
}
table tr th{
	text-align: left!important;
}


.tooltipTable{
	border: 1px solid black;
}
.tooltipTable tr{
	border: 1px solid black;
	

}
.tooltipTable td{
	border: 1px solid black;
	padding:5px!important;
}
.tooltipTable th{
	border: 1px solid black;
	padding:5px!important;
}

/*this two styles are for the pagination in the table in myActivities Tab summary page*/

.pagination>li>a, .pagination>li>span{line-height:0.428571;}
.pagination>li>a, .pagination>li>span{
	font-size: 12px;
	border: none;
}
.pagination>li.active>a, .pagination>li.active>span{
	background-color: #02435c!important;
}




/*end*/