.quiz-card{
    margin-top: 10px!important;
}

.ql-editor{
    height:100px;
}

.question-card{
    padding:0px!important;
}
.addButton{
    float: right;
    margin-right: 20px;
}

.correct-option{
    color: #6db533;
}

.wrong-option{
    color: #d61313;
}

.reflections-group-card{
    background-color: white;
    padding: 10px;
}
.closeButton{
    background-color: #A9A9A9;
    margin-left: 20px;
}
.mainQuestion{
    display:inline-block;
}
.questionNum{
    float:left;
}
.questionText{
    float: right;
}
.duplicateIcon{
    color:#A9A9A9!important;
    font-size: 20px;
}
.duplicateIcon:hover{
    cursor: pointer;
    color:#d76f5f!important;
}
p {
    text-align: left;
    margin-left: 1rem!important;
}

.total_points{
    cursor: pointer;
}
.total_question{
    cursor: pointer;
}
