.file-input-session-video {
    width: 93%;
}

.select-session-video {
    display: flex;
    align-items: center;
}

.session-select {
    width: 100%;
    height: 35px;
}

.row.choose-file-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-div {
    margin-top: 10px;
}

.date-input-session-video {
    width: 155%;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: #00000040;
}

.topic-checkbox {
    display: flex;
    align-items: center;
}

.time-col {
    padding-left: 0px;
    text-align: right;
}

@media (max-width: 576px) {
    .time-col {
        text-align: right;
    }
}

.session-video-icon {
    font-size: 24px;
    color: #60c8d7!important;
    display: inline-block;
}

.select-session {
    text-align: end;
    padding-left: 27px;
}

.session-div {
    padding: 10px;
}

.plus-col {
    display: flex;
    align-items: center;
}

.session-video-col {
    margin-bottom: 0px;
}

@media (max-width: 576px) {
    .session-video-col {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .upcoming-prog {
        padding-right: 5px!important;
        padding-left: 5px!important;
    }
}

.session-video-topic-div {
    margin-bottom: 2px;
}

@media (max-width: 576px) {
    .session-video-topic-div {
        margin-bottom: 10px;
    }
}

.left-margin-zero {
    margin-left: 0px!important;
}

.session-video-time-label {
    font-size: 14px;
    margin-bottom: 0px;
}

.video-thumbnail {
    padding: 0px!important;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.select-border {
    border: 1px solid #ced4da !important;
}

.select-border-withicon {
    border: 1px solid #bbc2c9!important;
    border-radius: 3px;
}

.session-select {
    height: 29px;
}

@media (max-width: 576px) {
    .small-size-col-margin {
        margin-bottom: 5px;
    }
}

.session-name-heading {
    margin-left: 10px;
}

.left-select-padding {
    margin-left: 20px;
}

.zero-padding {
    padding: 0px!important;
}

.session-video-icon {
    float: right;
    color: #2E8CFF;
}

.time-div {
    width: 50%;
    display: inline;
    float: left;
}

.expanded-leftsidebar #search-nav-item {
    width: 240px;
    display: block;
    margin: 7px 2px 2px 2px;
}

#timer {
    background-color: #eee;
    border: none;

}

.button-label {
    font-size: 14px;
    padding-left: 5px;
    display: inline;
}

.flat-btn:hover {
    background-color: #d86f5f !important;
    color: white !important;
}

.btn-bg-lightgray {
    background-color: #ECEDF0 !important;
    color: #808080;
}

.btn-bg-lightgray {
    background-color: #ECEDF0 !important;
    color: #808080;
}

.input-group-text {
    padding: 0px 3px 0px 3px !important;
    display: flex !important;
    align-content: center !important;
}

.topic_list {
    margin: 0px !important;
}

.uploaded-session-video-icon{
    color: lightgray;
}

.uploaded-session-video-icon:hover{
    color: gray;
}

.uploaded-session-video-icon[data-count]{
    position:relative;
}
.uploaded-session-video-icon[data-count]:after{
    position: absolute;
    right: 1.4em;
    top: .5em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 6em;
    line-height: .9em;
    color: white;
    text-align: center;
    min-width: 2em;
    font: bold .3em sans-serif;
}
