#footer span:hover {
    text-decoration: underline;
    color: #007bff;
}

.dasa-btn {
    background-color: #d76f5f;
    color: white;
}

.top-nav-bar-logo{
    height: 100px;
    width: 200px;
    object-fit: contain;
}
.footer-logo{
    height: 50px;
    width: 100px;
    object-fit: contain;
}

#main-navbar a {
    font-size: 16px;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
    color: rgb(87, 88, 89);
    margin-right: 5px;
}

#main-navbar a:hover {
    color: rgb(95, 199, 215);
}

#main-navbar h6:hover {
    color: rgb(95, 199, 215);
}

#main-navbar p:hover {
    color: rgb(95, 199, 215);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

#main-navbar a:active {
    color: #d76f5f;
}

#main-navbar p:active {
    color: #d76f5f;
}

#main-navbar li:active {
    color: #d76f5f;
}

.top-banner h4 {
    font-size: 30px;

}

.top-banner p {
    font-size: 20px;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 36px;
    font-weight: 400;
}

#card-1 {
    margin-bottom: 20px;
}

#small-cards {
    margin-bottom: 30px;
    margin-top: 30px;
}


.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(55, 80, 95);
}

.footer-item, a {
    color: rgb(87, 88, 89);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.footer-item {
    color: rgb(87, 88, 89);
    font-weight: 400;
}

.btn.dasa-btn.px-5 {
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 10px;
}

#card-sections h4 {
    color: rgb(55, 80, 95);
    font-size: 23.4px;
    font-weight: 700;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 30.42px;
}

#card-sections p {
    color: rgb(87, 88, 89);
    font-size: 18px;
    font-weight: 400;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 27px;
}

#card-sections li {
    color: rgb(87, 88, 89);
    font-size: 18px;
    font-weight: 400;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 27px;
}

#mail-area i {
    color: #01435c;
}

#small-cards p {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(87, 88, 89);
}

#mail-area p {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(87, 88, 89);
}

#mail-area h1 {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    color: rgb(55, 80, 95);
}

#mail-area strong {
    color: #5fc8d7;
}

#mail-area strong:hover {
    color: #d76f5f;
}

.bottom-banner p {
    font-size: 20px;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
}

.bottom-banner h4 {
    font-size: 30px;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
}

.background {
    background-color: #f2f2f2;
    height: 80px;
    margin-bottom: 10px;
}

#module-image {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#main-navbar h6 {
    color: rgb(55, 80, 95);
    font-size: 15px;
    font-weight: 700;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 22.5px;
}

#main-navbar p {
    color: rgb(87, 88, 89);
    font-size: 16px;
    font-weight: 400;
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    line-height: 24px;
}

#bg-color {
    background-color: #f8f9fa;
}

#contact-message h1 {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
    color: rgb(55, 80, 95);
}

#contact-message p {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(87, 88, 89);
}

#contact-message i {
    color: rgb(1, 67, 92);
}

#contact-message {
    margin-top: 80px;
    margin-left: 15px;
    margin-bottom: 80px;
}

#main-contact {
    margin-top: 80px;
    margin-bottom: 80px;
}

#main-contact label {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(87, 88, 89);
}

#main-contact textarea {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #deddd9;
}

submit input {
    font-family: "Nexa W01", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(87, 88, 89);
}

#facilitated-card {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}

.card-text.card-body-text {
    padding-bottom: 1px;
    margin-bottom: 1px;
}


#navbarCollapse a:hover {
    color: rgb(95, 199, 215);
}

#navbarCollapse li:hover {
    color: rgb(95, 199, 215);
}

#navbarCollapse li {
    padding-right: 40px;
}

#navbarCollapse li:active {
    color: #d76f5f;
}

#navbarCollapse a:active {
    color: #d76f5f;
}

#navbarCollapse a {
    padding-right: 35px;
}

#main-navbar img {
    margin-right: 30px;
}

#navbarCollapse img {
    margin-right: 0px;
}

#inner-card {
    color: #01435c;
}

#navbarCollapse li {
    color: rgb(87, 88, 89);
}

#navcol-2 #nav-item-home .nav-link.active {
    color: rgb(95, 199, 215);
}

#navcol-2 #nav-dropdown .dropdown-item.active {
    color: rgb(95, 199, 215);

}

#navcol-2 #nav-item-home-sub .drop.active {
    color: rgb(95, 199, 215);
    background-color: white;
}

#col-color .active {
    color: rgb(95, 199, 215);
}

a:hover {
    color: rgb(95, 199, 215);
    text-decoration: underline;
}

.row.no-gutters.resource-content-row {
    background-color: #F7F7F7;
    padding: 5px;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chart-card{
    background-color: white;
}

p {
    text-align: left;
    margin-left: 1rem!important;
}

.card.Asssignment-card {
    color: #808080;
    margin: 5px;
    padding: 5px;
    background-color: white;
    height: calc(100% - 10px);
}



.assignment-list {
    font-size: 15px;
}



.card.resource-tumbnail {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7F7F7;
}

#myModal {
    color: rgb(0,0,0);
}

.text-left.text-muted.myModal-paragraph {
    font-size: 15px;
}

.card-body.resources-card {
    color: #808080;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(95, 199, 215) !important;

    background-color: white;
}

.dl-horizontal {
    background: repeat-x repeat-y center top transparent;
    min-height: 350px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

#main-navbar-1 {
    background-color: white !important;
}

#main-navbar {
    background-color: #f8f9fa !important;
}

#card-image-animate img:hover{
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);
          100% { transform: scale(1); }
    }
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #3a859e;
    line-height: 2;
}



.btn.dropdown-toggle.schedule-dropdown-button {
    color: white;
}

.h5, h5 {
    font-weight: 300;
    font-size: 1.25rem;
}

.home-button {
    text-align: right;
}

.presentation-name {
    color: #d86f5f;
}

.questions-group {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.questions-group:first-child {
}

.questions-group:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.session-recording-item {
    background-color: #F7F7F7;
    padding: 10px;
}

.session-video-icon {
    float: right;
    padding-right: 5px;
    color: #2E8CFF;
}

.session-item-heading{
    font-size: 16px;
    padding: 8px;
}

.session-item-heading.collapsed-session.session-item-light{
    background-color: white;
    color: black;
}

.session-item-heading.collapsed-session.session-item-dark {
    background-color: darkgray;
    color: white;
}



.session-item-heading.expanded-session {
    background-color: #01435c;
    color: white;
}

.session-content-heading-gray {
    background-color: gray;
    padding: 5px;
    font-size: medium;
    color: white;
}

.session-recording-section-heading {
    padding-left: 10px;
    font-size: medium;
    color: white;
}

.recordings-section-collapsed {
    background-color: #D76F5F;
    margin-bottom: 5px;
}

.recordings-section-expanded {
    background-color: #01435c;
}

.button-label{
    font-size: 14px;
    padding-left: 5px;
    display: inline;
}

.flat-btn{
    color: white;
}

.flat-btn:hover{
    background-color: #d86f5f !important;
    color: white !important;
}

.assignment-btn-group{
    float: right;
}

.resource-label{
    padding-left: 5px;
}

.btn-bg-gray{
    background-color: gray;
}
.btn-bg-lightgray{
    background-color: #ECEDF0 !important;
    color: #808080;
}


.message-heading.expanded-session {
    background-color: #01435c;
    color: white;
}

.message-heading.collapsed-session.session-item-dark {
    background-color: darkgray;
}



.message-heading.collapsed-session.session-item-dark:hover {
    background-color: lightgray;
    color: black;
}

.sent-date{
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;

}

.message-heading-element{
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;

}


.meeting-link {
    background-color: white;
    font-size: 16px;
    text-align: right;
}

p.banner-heading{
    font-size: 30px;
    font-weight: 400;

}

.assignment-upload-status-icon, .submitted-assignment-download-icon{
    color: rgb(95, 199, 215);
}

.submitted-assignment-download-icon:hover{
    color: #01435c;
}

.card-header{
    background-color: white;
}

.card-footer{
    background-color: white;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.on-submission-tickmark{
    color: #60c8d7;
}


.option-heading {
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
}

.row.no-gutters.exam-prep-content-row {
    background-color: #F7F7F7;
    padding: 5px;
}

.card.quiz-card {
    color: #808080;
    margin: 5px;
    padding: 5px;
    background-color: white;
    height: calc(100% - 10px);
}

.row.no-gutters.quiz-content-row {
    background-color: #F7F7F7;
    padding: 5px;
}

.card-heading {
    padding: .75rem 1.25rem;
    margin-bottom: 0;

}
#editor-container {
    height: 300px;
}

.assignment-references {
    border-right: 1px solid gray;
}

.card-footer-title {

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.file-name a{
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
}

.Submitted-Documents span{
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
}

.row.no-gutters.reflection-content-row {
    background-color: #F7F7F7;
    padding: 5px;
}

.card.reflection-card {
    color: #808080;
    margin: 5px;
    padding: 5px;
    background-color: white;
    height: calc(100% - 10px);
}

.reflection-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

#reflection-editor-container {
    height: 300px;
}

.quiz-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}


.nav-item .badge {
    position: relative;
    top: -50px;
    right: -1px;
    /*padding: 5px 10px;*/
    border-radius: 50%;
    background-color: #D76F5F;
    color: white;
}

.nav-item .counter{
  position: relative;
  top: -20px;
  border-radius: 50%;
  background-color: #D76F5F;
  color: white;
  display: inline-block;
  text-overflow: ellipsis;
  left: -10px;
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  font-weight: 600;
}

#notification-dropdown{
    top: 50px;
}

.feedbackModalResultSuccess{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #60C8D7;
    color: #01435c;
}

.feedbackModalResultFailure{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #60C8D7;
    color: #d76f5f;
}

.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    position: absolute;
    right: 1.4em;
    top: .5em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 6em;
    line-height: .9em;
    color: white;
    text-align: center;
    min-width: 2em;
    font: bold .3em sans-serif;
}
