
<table id ="calendar_links" style=" border: 1px solid gray; border-collapse: collapse; padding: 5px;">
    <tr>
        <th style='background-color: #01435c; color: white; text-align: left; border: 1px solid gray; border-collapse: collapse; padding: 5px;'>Calendar</th>
        <th style='background-color: #01435c; color: white; text-align: left; border: 1px solid gray; border-collapse: collapse; padding: 5px;'>Add</th>
    </tr>
    
    {% for session in sessions %}
    <tr>
        <td style=' border: 1px solid gray; border-collapse: collapse; padding: 5px;'>Google 
        <a href="{{ session['google_link'] }}"><img src="https://dasa-learning-tracker-files.s3-ap-southeast-1.amazonaws.com/appAssets/calendar-icon.png" alt="Add" width="20" title="Click to Add to calendar"></a></td>
    </tr>
    <tr>
        <td style=' border: 1px solid gray; border-collapse: collapse; padding: 5px;'>Yahoo 
            <a href="{{ session['yahoo_link'] }}"><img src="https://dasa-learning-tracker-files.s3-ap-southeast-1.amazonaws.com/appAssets/calendar-icon.png"alt="Add" width="20" title="Click to Add to calendar"></a></td>
    </tr>
    <tr>
        <td style=' border: 1px solid gray; border-collapse: collapse; padding: 5px;'>Outlook 
            <a href="{{ session['outlook_link'] }}"><img src="https://dasa-learning-tracker-files.s3-ap-southeast-1.amazonaws.com/appAssets/calendar-icon.png"alt="Add" width="20" title="Click to Add to calendar"></a></td>
    </tr>
    {% endfor %}
</table>

