{% extends 'base.html' %}


{% block body %}
<div class="container pb-5">
    <div class="container p-0 m-0 home-button"> 

        {% for social_link in community_details['social_links'] %}

        {% set type =  social_link['social_media_platform'] %}

        {% if type == 'FACEBOOK' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-facebook btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-facebook-square"></i>acebook group
            </button>
        </a>

        {% elseif type == 'LINKEDIN' %} 
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-linkedin btn-lg border rounded social-network-button " type="button">Join our Linked-<i class="fab fa-linkedin-in"></i>
                group
            </button>
        </a>

        {% elseif type == 'SLACK' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-slack btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-slack"></i>
                Slack group
            </button>
        </a>

        {% elseif type == 'TWITTER' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-twitter btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-twitter"></i>
                Twitter group
            </button>
        </a>

        {% elseif type == 'WHITEBOARD' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-miro btn-lg border rounded social-network-button " type="button">Go to
                <i class="fas fa-chalkboard"></i>
                Whiteboard
            </button>
        </a>

        {% elseif type == 'INSTAGRAM' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-instagram btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-instagram"></i>
                Instagram group
            </button>
        </a>

        {% endif %}
        {% endfor %}
    </div>
</div>

{% set community_contents = community_details['community_contents'] %}
{% if community_contents is not empty %}

{% for community_content in community_contents %}
{{ community_content['content_html'] | raw }}
{% endfor %}
<div class="container pb-5 pt-5">
    <div class="container p-0 m-0 home-button"> 

        {% for social_link in community_details['social_links'] %}

        {% set type =  social_link['social_media_platform'] %}

        {% if type == 'FACEBOOK' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-facebook btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-facebook-square"></i>acebook group
            </button>
        </a>

        {% elseif type == 'LINKEDIN' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-linkedin btn-lg border rounded social-network-button " type="button">Join our Linked-<i class="fab fa-linkedin-in"></i>
                group
            </button>
        </a>

        {% elseif type == 'SLACK' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-slack btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-slack"></i>
                Slack group
            </button>
        </a>

        {% elseif type == 'TWITTER' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-twitter btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-twitter"></i>
                Twitter group
            </button>
        </a>

        {% elseif type == 'WHITEBOARD' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-miro btn-lg border rounded social-network-button " type="button">Go to
                <i class="fas fa-chalkboard"></i>
                Whiteboard
            </button>
        </a>

        {% elseif type == 'INSTAGRAM' %}
        <a href="{{ social_link.link }}" target="blank">
            <button class="btn btn-instagram btn-lg border rounded social-network-button " type="button">Join our
                <i class="fab fa-instagram"></i>
                Instagram group
            </button>
        </a>

        {% endif %}
        {% endfor %}
    </div>
</div> 


{% else %}
<div class="pb-1"></div>
{% endif %}


{% endblock %}
