{% extends 'FacilitatorBase.html' %}

{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../../css/quiz.css">
{% endblock %}

{% block body %}
<script>
    var resourceTypeList = {{ resourceTypeList | json_encode() | raw }}
</script>
<div class="setup-card-1" style="padding: 0px;">
    <section class="main-div">
        <div>
            <div class="row">
                <div class="col explore-col">
                    <h4 class="text-left card-top-heading">
                        <i class="fas fa-cogs"></i>
                         Configure Quiz
                    </h4>
                </div>
            </div>
        </div>
    </section>

    {% if subjectList is not empty %}
    <section class="main-div">
        <div class="row explore-row">
            <div class="col-12 col-lg-5 text-center select-session-video zero-padding mb-2">
                <select class="custom-select custom-select-sm general-select-in-body" id="subjectList" onChange="subjectChanged()">
                        <option value="">Select</option>
                    {% for subject in subjectList %}
                        <option value="{{ subject['subject_id'] }}">{{ subject['subject'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="main-div d-none" id="upload-section">
        <label for="upload-section-card" class="card-top-sub-heading">Create New</label>
        <div class="card section2-cards" id="upload-section-card">
            <div class="row no-gutters">
                <div class="col-sm-6 col-md-3 px-1">
                    <label for="quiz-name-0">Name</label>
                    <input id="quiz-name-0" type="text" class="form-control-sm general-select-in-body select-border"/>
                </div>
                <div class="col-sm-6 col-md-3 px-1">
                    <label for="quiz-for-0">Associated with?</label>
                    <select class="form-control-sm general-select-in-body select-border" id="quiz-for-0" onchange="selectedAssociatedTo()" >
                        <option value="Subject" selected>Entire Subject</option>
                        <option value="Module">Specific Module</option>
                        <option value="Topic">Specific Topic</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 px-1 d-none" id="select-module-dropdown-0">
                    <label for="select-module-0">Module</label>
                    <select class="form-control-sm general-select-in-body select-border" id="select-module-0" onchange="selectedModule()"></select>
                </div>
                <div class="col-sm-6 col-md-3 px-1 d-none" id="select-topic-dropdown-0">
                    <label for="select-topic-0">Topic</label>
                    <select class="form-control-sm general-select-in-body select-border" id="select-topic-0"></select>
                </div>
            </div>

            <div class="row no-gutters modal fade" id="addQuestionModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                       </div>
                        <div class="quiz-card question-card modal-body">
                            <div class="row no-gutters card-body" id="secondRow">
                                <div class="col px-1 h-100" >
                                    <label for="description">Question</label>
                                    <div id="description"></div>
                                </div>
                            </div>

                            <div class="row no-gutters card-body ml-4 col-sm-6 col-md-3 ">
                                <label for="quizType">Type</label>
                                <select  class="form-control-sm general-select-in-body select-border"  id="quizType" onchange="addOptions()">
                                    <option value="descriptive" selected>Descriptive</option>
                                    <option value="objective" >Objective</option>
                                </select>
                            </div>
                            <div class="row no gutters ml-2">
                                <div class="card-body ml-4 col-sm-6 col-md-3 col-lg-5  px-1 option d-none">
                                    <div id="correctOption"></div>
                                    <a class="mt-8 duplicateIcon correctPlus" onclick="correctOptionDuplicate()" ><i class="fas fa-plus-circle"></i></a>
                                </div>
                                <div class="card-body ml-4 col-sm-6 col-md-3 col-lg-5  px-1 option d-none">
                                    <div id="wrongOption"></div>
                                    <a class="mt-8 duplicateIcon wrongPlus" onclick="WrongOptionDuplicate()" ><i class="fas fa-plus-circle"></i></a>
                                </div>
                            </div>

                            <div class="row no-gutters card-body" id="secondRow">
                                <div class="col-sm-6 col-md-3 px-1 ml-1">
                                    <label for="max_score">Points</label>
                                    <input id="max_score" type="number" class="form-control-sm general-select-in-body select-border"/>
                                </div>
                            </div>

                            <div class="modal-footer addQuiz">
                                <button class="mt-1 mb-2 ml-2 btn btn-secondary border closeButton" onclick="closeQuestion()">Close</button>
                                <button class="mt-1 mb-2 ml-2 btn btn-secondary border addButton" onclick="addQuestion()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters mt-2" >
                <button class="btn btn-secondary addButton mt-4 ml-1" id="addQuizButton" onclick="openAddQuestionModal()"  style="width:20%;height:35px;margin-top:30px!important;">
                    <i class="fas fa-plus"></i> Add Questions
                </button>
            </div>

            <div class="row no-gutters pt-3 d-none" id="quiz-option-table-row">
                <div class="col">
                    <table class="table table-bordered mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th>
                                    Question
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Options
                                </th>
                                <th>
                                    Points
                                </th>
                            </tr>
                        </thead>
                        <tbody id="question-tbl-body-0">

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-right button-div mt-4">
                 <div class="row no-gutters">
                     <div class="col">
                         <button class="btn btn-primary text-right border rounded" type="submit" style="background-color: #d76f5f;" id="reflection-submit-btn" onclick="submitNewQuiz()">Submit</button>
                     </div>
                </div>
             </div>
         </div>
     </section>

     <section class="main-div d-none" id="configured-reflections-section">
         <label class="card-top-sub-heading" for="configuredReflectionsSection">Configured Quiz</label>
         <div id = "configuredReflectionsSection"></div>
     </section>
 </div>
 <div class="modal fade quizModal" role="dialog" tabindex="-1" id="quizModal">
     <div class="modal-dialog modal-xl" style="min-width: 87%!important;" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h4 id="quizModalHeading"></h4>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span id="closeQuizModal" aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body questions-group p-5" id="quizModalBody">

             </div>
             <div class="modal-footer d-none" id = "quiz-footer">

             </div>
         </div>
     </div>
 </div>
{% endblock %}

{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/iconpicker/iconpicker-1.5.0.js"></script>
<script src="../../js/facilitatorUtils.js"></script>
<script src="../../js/genericFileUpload.js"></script>
<script src="../../js/facilitatorQuiz4.js"></script>
<script src="../../js/quizzes1.js"></script>

{% endblock %}
