{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css">
<link rel="stylesheet" href="../../css/profileEdit.css" >
{% endblock %}

{% block body %}

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<section class="text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% if user_details.profile_pic_binary is empty %}
                            <div class="image-upload">
                                <label for="file-input">
                                    <img  src="../../images/avatar.jpg" width="150" id="image" class = "img-fluid rounded-circle mb-3"/>
                                    <div class="overlay"><i class="fas fa-camera" data-toggle="tooltip" title="Change Profile Photo"></i></div>
                                </label>

                                <input id="file-input" class="upload_image" name="upload_image" type="file" accept="image/*"/>
                            </div>
                        {% else %}
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="{{ user_details.profile_pic_binary }}" id="image"  width="150" alt="" class="img-fluid rounded-circle mb-3"/>
                                    <div class="overlay"><i class="fas fa-camera" data-toggle="tooltip" title="Change Profile Photo"></i></div>
                                </label>

                                <input id="file-input" class="upload_image" name="upload_image" type="file" accept="image/*"/>
                            </div>
                        {% endif %}
                        
                        <div id="uploadimageModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Upload & Crop Image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8 text-center">
                                                <div id="image_demo" style="width:350px; margin-top:30px"></div>
                                            </div>
                                            <div class="col-md-4" style="padding-top:30px;">
                                                <br />
                                                <br />
                                                <br/>
                                                <button class="btn btn-success crop_image">Crop & Upload Image</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
   
                        <form method="post" name="editProfile" class="form text-left" id="editProfile">
                            <input id="profile-pic-binary" name="profile-pic-binary" type="hidden" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-2">
                                    <div class="profile">
                                        <div class="field-wrapper hasValue">
                                            <input class="form-control" type="name" name="name" id="inputName" value="{{ user.name }}" class="form-control" required />
                                            <div class="field-placeholder">
                                                <span>Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                                    <div class="profile">
                                        <div class="field-wrapper hasValue">
                                            <input class="form-control" type="name" name="name" id="lastName" value="{{ user.last_name }}" class="form-control" required />
                                            <div class="field-placeholder">
                                                <span>Last Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <div class="profile">
                                        <div class="field-wrapper">
                                            <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" />
                                            <div class="field-placeholder">
                                                <span>Password(Leave it blank to keep current password)</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% set time_zone_groups = time_zones_details['time_zone_groups'] %}
                            {% set timezones =  time_zones_details['timezones'] %}
                            {% set userTimeZoneRegion =  time_zones_details['userTimeZoneRegion'] %}
                            {% if userTimeZoneRegion is empty %}
                                {% set userTimeZoneRegion = time_zone_groups[0] %}
                                {% set userTimeZone =  "" %}
                            {% else %}
                                {% set userTimeZone =  time_zones_details['userTimeZone'] %}
                            {% endif %}
                            
                            
                            
                            <script>
                                var timeZones = {{ timezones|json_encode|raw }};
                            </script>
                            <div class="row mt-2 mb-2">
                                <div class="col-xs-12 col-md-6 mb-2">
                                    <div class="profile timezone-cal-elements">
                                        <div class="row py-0">
                                            <div class="col col-6">
                                                <label class="col-form-label" for="timezone-region-list"><i class="fas fa-globe" aria-hidden="true"></i>Timezone Region</label>
                                            </div>
                                            <div class="col col-6 d-flex align-self-center">
                                                <select class="time-zone-group" id="timezone-region-list" name="timezone_region" required>
                                                    {% for group in time_zone_groups %}
                                                    {% if group == userTimeZoneRegion %}
                                                    <option value="{{ group }}" selected='true'>{{ group }}</option>
                                                    {% else %}
                                                    <option value="{{ group }}">{{ group }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 mb-2">
                                    <div class="profile timezone-cal-elements">
                                        <div class="row py-0">
                                            <div class="col col-5">
                                                <label class="col-form-label" for="timezone-list"><i class="far fa-clock mr-1"></i>Timezone</label>
                                            </div>
                                            <div class="col col-7 d-flex align-self-center">
                                                <select class="time-zone-group" id="timezone-list" name="timezone" required>
                                                    {% set tzOfSelectedRegion = timezones[(userTimeZoneRegion)] %}
                                                    {% for timezone in tzOfSelectedRegion %}
                                                        {% if timezone['timezone'] == userTimeZone %}
                                                        <option value="{{ timezone['timezone'] }}" selected='true'>{{ timezone['text'] }}</option>
                                                        {% else %}
                                                        <option value="{{ timezone['timezone'] }}">{{ timezone['text'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper {% if user.linkedin_link is not empty %} {{ 'hasValue' }}{% endif %}">
                                            <input class="form-control" type="name" name="linkedinProfileLink"  value="{{ user.linkedin_link }}" id="linkedin-profile"/>
                                            <div class="field-placeholder">
                                                <span>Link to LinkedIn Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper {% if user.facebook_link is not empty %} {{ 'hasValue' }}{% endif %}">
                                            <input class="form-control" type="name" name="facebookProfileLink"  value="{{ user.facebook_link }}" id="facebook-profile"/>
                                            <div class="field-placeholder">
                                                <span>Link to Facebook Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputProfile"><i class="far fa-user mr-1"></i>Profile :</label>
                                <div id="editor-container">{{ user_details.profile | raw }}</div>
                                <span id="helpBlock" class="help-block">* Leave blank to keep current profile</span>
                            </div>
                            <div class="text-right">
                                <a href="/profile/show"><button class="btn btn-light" type="button">Cancel</button></a>
                                <button class="btn btn-dasa form_submit"  type="submit" value="Submit" name="submit"  id="submit" style="color:#ffffff">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block bodyBottomInclusions %}

<script type="text/javascript" src="https://unpkg.com/croppie@2.6.5/croppie.js"></script>
<script type="text/javascript" src="../../js/richText.js"></script>
<script type="text/javascript" src="../../js/imageCropper.js"></script>
<script type="text/javascript" src="../../js/profileEdit.js"></script>
<script src="../../js/hideShowPassword.min.js"></script>
<script src="../../js/app.js"></script>
 
{% endblock %}

