{% extends "FacilitatorBaseNew.html" %}


{% block head %}
<link rel="stylesheet" href="../../css/FacilitatorMessage.css">
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">

{% endblock %}


{% block title %}Message Notifications{% endblock %}

{% block body %}

<div class="container-fluid facilcont nice-font">
    <div class="row">
        <div class="col-md-10 offset-md-10">
            <button class="btn btn-dasa  border rounded" id="compose" type="submit" style="color:#ffffff" onclick="FacilitatorComposeSection()">Compose New &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>

    <div id="session-container" class="m-5 ml-5 facilsession">

        {% set background = 'session-item-light' %}

        {% for message_detail in message_details %}


        {% if message_detail.read_status is null and message_detail.sender_user_id != Superglobal_session['user_id'] %}
        <div class="row no-gutters d-xl-flex align-items-xl-center bold-font facilmessage-heading collapsed-session {{ background }}" thread-id="{{ message_detail.thread_id }}"
         message-id="{{ message_detail.message_id }}"  onclick="facilitatormessageHeadingRowClicked({{ message_detail.thread_id }},{{ message_detail.message_id }},{{Superglobal_session['user_id']}})">
         {% else %}
         <div class="row no-gutters d-xl-flex align-items-xl-center facilmessage-heading collapsed-session {{ background }}" thread-id="{{ message_detail.thread_id }}"
          message-id="{{ message_detail.message_id }}"  onclick="facilitatormessageHeadingRowClicked({{ message_detail.thread_id }},{{ message_detail.message_id }})">
          {% endif %}


          {% set name_count = 0 %}
            {% set names_in_thread = "" %}
            {% set names_in_tooltip = "" %}
            {% for participant in  message_detail['participants'] %}

            
                {% if name_count == 0 %}

                    {% set names_in_thread = participant['participant'] %}
                    {% set names_in_tooltip = participant['participant'] %}
         
                {% elseif name_count < 3 %}

                    {% set names_in_thread = names_in_thread ~ ', ' ~ participant['participant']  %}
                    {% set names_in_tooltip = names_in_tooltip ~ ', ' ~ participant['participant']  %}
                {% else %}
                    {% set names_in_tooltip = names_in_tooltip ~ ', ' ~ participant['participant']  %}

                {% endif %}
                {% set name_count = name_count + 1 %}
            {% endfor %}

            {% if message_detail.sender_profile_pic is empty %}

            <div class="col-2 col-sm-2 col-md-1" >
                <div id="facilcircle" class="facilcircle">
                    <img src="../../images/avatar.jpg" width="40" alt="" class="img-fluid rounded-circle" data-html = "true" title={{ message_detail['sender_name'] }}>
                </div>
            </div>
            {% else %}
            <div class="col-2 col-sm-2 col-md-1" >
                <div id="facilcircle" class="facilcircle">
                    <img src="{{message_detail.sender_profile_pic }}" width="40" alt="" class="img-fluid rounded-circle" data-html = "true" title={{ message_detail['sender_name'] }}>
                </div>
            </div>
            {% endif %}


            <div class="col-md-4 d-none d-sm-block "  >
              <div title=" {{ names_in_tooltip }} "> {{ names_in_thread }}
                  <span class="count"> {{ message_detail['message_count'] }}</span></div>
            </div>
            <div class=" col-8 col-sm-8 col-md-6 ">
                <div class=" row no-gutters message-heading-element2">
                    {{ message_detail['subject'] }}
                </div>
                {% if ((message_detail['attachments']) != NULL)  %}
            <div class = "row no-gutters" title="Click here to view Message">
                  {% for attachment in message_detail['attachments']|slice(0, 4) %}
                  <a class = "inbox-attachments" href = "{{ attachment['file_path'] }} ">
                  {{ attachment['file_name'] }}  </a>  &nbsp  &nbsp
                  {% endfor %}
                </div>

            {% endif %}
            </div>
            <div class="col-2 col-sm-2 col-md-1" >
                <div class="">{{ message_detail['sent_time'] }}</div>
            </div>
        
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.js"></script>
<script type="text/javascript" src="../../js/facilitatorUtils.js"></script>
{% endblock %}
