<!DOCTYPE html>
<html class="body-background">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Learning Tracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/FacilitatorTopNavBar.css" />
        <link rel="stylesheet" href="../../css/promotionBoard.css" />
        <link rel="stylesheet" href="../../css/GenericStyles.css" />
        <link rel="stylesheet" href="../../css/VerticalNavigationBar.css" />
        <link rel="stylesheet" href="../../css/styles.css">

        {% block head %}{% endblock %}
    </head>

    <body class="body-background">
        <div class="col navCol top-nav" style="padding-right: 0px;padding-left: 0px;">
            <nav class="navbar navbar-light navbar-expand-md shadow-sm navbar-dash navbar fixed-top navbar-light bg-white" style="padding-right: 0px;padding-left: 0px;">
                <div class="container-fluid">
                    <button data-toggle="collapse" data-target="#navbarCollapse-1" class="navbar-toggler ml-2" id="nav-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    {% if Superglobal_session.facilitator_org is not empty %}
                    <a class="logo-link" href="{{ Superglobal_session.facilitator_org.website_link }}" target="blank">
                        <img src="{{ Superglobal_session.facilitator_org.logo_link }}" class="top-nav-bar-logo"/>
                    </a>
                    {% else %}
                    <img src="../../images/final.png" height="60" />
                    {% endif %}

                    <div class="collapse navbar-collapse top-nav navbar-items">
                        <ul class="nav navbar-nav text-right ml-auto">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#" style="padding: 11px;">
                                    <i class="fas fa-search navIcon fa-lg"></i>
                                </a>
                            </li>
                            {% if Superglobal_session['unread_messages'] is not empty %}
                            <li role="presentation" class="nav-item">
                              <a class="nav-link" id ="notifications" href="/Message/new">
                                <i class="far fa-envelope fa-2x "></i>
                                  {% if Superglobal_session['unread_messages'] > 0 %}
                                <span class="counter "  >{{ Superglobal_session['unread_messages'] }}</span>
                                  {% endif %}
                                  </a>
                              </li>
                              {% endif %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="https://yayaticonsultingllp.slack.com/archives/C012KT53S92" target="blank">
                                    <i class="fab fa-slack-hash navIcon fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                                {% if Superglobal_session.profile_pic_binary is empty %}
                                <i class="far fa-user-circle  fa-2x"></i>
                                {% else %}
                                <img src="{{ Superglobal_session.profile_pic_binary }}" width="60" alt="" class="img-fluid rounded-circle">
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu dropdown-menu-right" role="menu" id="user-avatar-drop-down">
                                <a class="dropdown-item text-left" role="presentation" href="/profile/show">{{ Superglobal_session.user_name }}{% if Superglobal_session.user_last_name is not empty %} {{ " " }} {{ Superglobal_session.user_last_name }} {% endif %}</a>
                                <a class="dropdown-item text-left" role="presentation" href="/profile/show">My Account</a>
                                <a class="dropdown-item text-left" role="presentation" href="#">Certification Level</a>
                                <a class="dropdown-item text-left" role="presentation" href="#">Contact Us </a>
                                <a class="dropdown-item text-left" role="presentation" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="loginmodal-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Your Message</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea id="message" class="form-control" placeholder="Type here...*" rows="5"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-lg dasa-btn text-white" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row mt-1">
            <div class="col">
                <div id="navbarCollapse-1" class="vertical-nav-dash">
                    <div class="row create-button-col">
                        <div class="col create-button-col">
                            <a class="btn btn-lg text-left border rounded border-light shadow-sm dash-createNew navbar-fontsize" role="button" href="/Course/index">
                                <i class="fas fa-2x fa-folder createIcon"></i> Courses
                            </a>
                        </div>
                    </div>
                    <ul class="vertical-nav-list" style="height: 560px;">
                        <li class="text-left vnav-li">
                            {% if activeTab == "Dashboard" %}
                            <a class="vnav-link active navbar-fontsize" href="/Home/index">
                                <i class="fas fa-tachometer-alt createIcon"></i> Dashboard
                            </a>
                            {% else %}
                            <a class="vnav-link navbar-fontsize" href="/Home/index">
                                <i class="fas fa-tachometer-alt createIcon"></i> Dashboard
                            </a>
                            {% endif %}

                        </li>
                        <li class="text-left vnav-li">
                            {% if activeTab == "Learners" %}
                            <a class="vnav-link active navbar-fontsize" href="/Learner/index">
                                <i class="fas fa-users createIcon"></i> Learners
                            </a>
                            {% else %}
                            <a class="vnav-link navbar-fontsize" href="/Learner/index">
                                <i class="fas fa-users createIcon"></i> Learners
                            </a>
                            {% endif %}

                        </li>
                        <li class="text-left vnav-li">
                            {% if activeTab == "Session Video" %}
                            <a id="l1" class="vnav-link active navbar-fontsize" href="/SessionVideo/index">
                                <i class="fas fa-video createIcon"></i> Session Video
                            </a>
                            {% else %}
                            <a id="l1" class="vnav-link navbar-fontsize" href="/SessionVideo/index">
                                <i class="fas fa-video createIcon"></i> Session Video
                            </a>
                            {% endif %}
                        </li>
                        <li class="vnav-li">
                            {% if activeTab == "Resource" %}
                            <a id="l2" class="vnav-link active navbar-fontsize" href="/Resource/index">
                                <i class="fas fa-book createIcon"></i> Resource
                            </a>
                            {% else %}
                            <a id="l2" class="vnav-link navbar-fontsize" href="/Resource/index">
                                <i class="fas fa-book createIcon"></i> Resource
                            </a>
                            {% endif %}
                        </li>
                        <li class="vnav-li">
                            {% if activeTab == "Schedule" %}
                            <a id="l3" class="vnav-link active navbar-fontsize" href="/Session/index">
                                <i class="far fa-calendar-alt createIcon"></i> Schedule
                            </a>
                            {% else %}
                            <a id="l3" class="vnav-link navbar-fontsize" href="/Session/index">
                                <i class="far fa-calendar-alt createIcon"></i> Schedule
                            </a>
                            {% endif %}
                        </li>
                        <li class="vnav-li" data-toggle="collapse" data-target="#l4-sub-menu">
                            {% set assignmentSubTabCollapseStatus = "" %}
                            {% if activeTab == "Assignment" %}
                                <a id="l4" class="vnav-link active navbar-fontsize assignmentNavItem">
                                    <i class="fas fa-book-reader createIcon" ></i> Assignment
                                </a>
                            {% else %}
                                <a id="l4" class="vnav-link navbar-fontsize assignmentNavItem" >
                                    <i class="fas fa-book-reader createIcon"></i> Assignment
                                </a>
                                {% set assignmentSubTabCollapseStatus = "collapse" %}
                            {% endif %}
                            <ul id="l4-sub-menu" class="{{ assignmentSubTabCollapseStatus }} subItems">
                                <li class="vnav-li assignmentSubNavItem" >
                                    {% if activeSubTab == "configureAssignment" %}
                                    <a id="l4-sub-menu-1" class="vnav-link active navbar-fontsize " href="/Assignment/Configure" >
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% else %}
                                    <a id="l4-sub-menu-1" class="vnav-link navbar-fontsize " href="/Assignment/Configure">
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="vnav-li assignmentSubNavItem" >
                                    {% if activeSubTab == "submissionAssignment" %}
                                    <a id="l4-sub-menu-2" class="vnav-link active navbar-fontsize " href="/Assignment/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% else %}
                                    <a id="l4-sub-menu-2" class="vnav-link navbar-fontsize " href="/Assignment/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        <li class="vnav-li" data-toggle="collapse" data-target="#l5-sub-menu">
                            {% set reflectionSubTabCollapseStatus = "" %}
                            {% if activeTab == "Reflection" %}
                                <a id="l5" class="vnav-link active navbar-fontsize">
                                    <i class="fas fa-book createIcon"></i> Reflection
                                </a>
                            {% else %}
                                <a id="l5" class="vnav-link navbar-fontsize">
                                    <i class="fas fa-book createIcon"></i> Reflection
                                </a>
                                {% set reflectionSubTabCollapseStatus = "collapse" %}
                            {% endif %}
                            <ul id="l5-sub-menu" class="{{ reflectionSubTabCollapseStatus }} subItems">
                                <li class="vnav-li reflectionSubNavItem" >
                                    {% if activeSubTab == "configureReflection" %}
                                    <a id="l4-sub-menu-1" class="vnav-link active navbar-fontsize " href="/Reflection/Configure" >
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% else %}
                                    <a id="l4-sub-menu-1" class="vnav-link navbar-fontsize " href="/Reflection/Configure">
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="vnav-li reflectionSubNavItem" >
                                    {% if activeSubTab == "submissionReflection" %}
                                    <a id="l4-sub-menu-2" class="vnav-link active navbar-fontsize " href="/ Reflection/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% else %}
                                    <a id="l4-sub-menu-2" class="vnav-link navbar-fontsize " href="/Reflection/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        <li class="vnav-li" data-toggle="collapse" data-target="#l6-sub-menu">
                            {% set quizSubTabCollapseStatus = "" %}
                            {% if activeTab == "Quiz" %}
                                <a id="l5" class="vnav-link active navbar-fontsize" >
                                    <i class="far fa-question-circle createIcon"></i> Quiz
                                </a>
                            {% else %}
                                <a id="l5" class="vnav-link navbar-fontsize">
                                    <i class="far fa-question-circle createIcon"></i> Quiz
                                </a>
                                {% set quizSubTabCollapseStatus = "collapse" %}
                            {% endif %}

                            <ul id="l6-sub-menu" class="{{ quizSubTabCollapseStatus }} subItems">
                                <li class="vnav-li quizSubNavItem" >
                                    {% if activeSubTab == "configureQuiz" %}
                                    <a id="l6-sub-menu-1" class="vnav-link active navbar-fontsize " href="/Quiz/Configure" >
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% else %}
                                    <a id="l6-sub-menu-1" class="vnav-link navbar-fontsize " href="/Quiz/Configure">
                                        <i class="fas fa-cogs createIcon"></i> Configure
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="vnav-li reflectionSubNavItem" >
                                    {% if activeSubTab == "submissionQuiz" %}
                                    <a id="l6-sub-menu-2" class="vnav-link active navbar-fontsize " href="/ Quiz/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% else %}
                                    <a id="l6-sub-menu-2" class="vnav-link navbar-fontsize " href="/Quiz/viewSubmissions">
                                        <i class="fas fa-print createIcon"></i> Submissions
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        <li class="vnav-li">
                            {% if activeTab == "Exam Prep" %}
                            <a id="l-1" class="vnav-link active navbar-fontsize" href="#">
                                <i class="fas fa-user-graduate createIcon"></i> Exam Prep
                            </a>
                            {% else %}
                            <a id="l-1" class="vnav-link navbar-fontsize" href="#">
                                <i class="fas fa-user-graduate createIcon"></i> Exam Prep
                            </a>
                            {% endif %}
                        </li>
                        <li class="vnav-li" data-toggle="collapse" data-target="#l8-sub-menu">
                            {% set configurationSubTabCollapseStatus = "" %}
                            {% if activeTab == "CourseConfiguration" %}
                                <a id="l5" class="vnav-link active navbar-fontsize" >
                                    <i class="fas fa-cogs createIcon"></i> Course Configurations
                                </a>
                            {% else %}
                                <a id="l5" class="vnav-link navbar-fontsize">
                                    <i class="fas fa-cogs createIcon"></i> Course Configurations
                                </a>
                                {% set configurationSubTabCollapseStatus = "collapse" %}
                            {% endif %}

                            <ul id="l8-sub-menu" class="{{ configurationSubTabCollapseStatus }} subItems">
                                <li class="vnav-li configurationSubNavItem" >
                                    {% if activeSubTab == "configureAlerts" %}
                                    <a id="l8-sub-menu-1" class="vnav-link active navbar-fontsize " href="/course-configuration/alerts" >
                                        <i class="fas fa-hourglass-half createIcon"></i> Alerts
                                    </a>
                                    {% else %}
                                    <a id="l8-sub-menu-1" class="vnav-link navbar-fontsize " href="/course-configuration/alerts">
                                        <i class="fas fa-hourglass-half createIcon"></i> Alerts
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="vnav-li configurationSubNavItem" >
                                    {% if activeSubTab == "configureEventNotifications" %}
                                    <a id="l8-sub-menu-2" class="vnav-link active navbar-fontsize " href="/course-configuration/event-notifications">
                                        <i class="fas fa-flag-checkered createIcon"></i> Event Notifications
                                    </a>
                                    {% else %}
                                    <a id="l8-sub-menu-2" class="vnav-link navbar-fontsize " href="/course-configuration/event-notifications">
                                        <i class="fas fa-flag-checkered createIcon"></i> Event Notifications
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="setup-card-2">
            {% set facilitator_org_details = Superglobal_session['facilitator_org'] %}
            {% if facilitator_org_details['promotions'] is null %}
            <div class="row promotion-row">
                <div class="col-12 Promotion-board">
                    <div class="card border-white border rounded shadow">
                        <div class="card-body promotion-card-padding">
                            <img class="advertise-img" src="../../images/1_AwvDJDfErlD34ox2QpwGoA.png" />
                            <p class="promotion-card-para">
                                <strong>WHAT IS DEVOPS AND HOW TO KICKSTART YOUR DEVOPS CAREER</strong><br />
                            </p>
                            <p class="promotion-card-link">
                                <a class="promotion-card-link" href="https://www.devopsagileskills.org/event/31753-what-is-devops-and-how-to-kickstart-your-devops-career/">Explore 
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 Promotion-board">
                    <div class="card border-white border rounded shadow">
                        <div class="card-body">
                            <img class="advertise-img" src="../../images/12310e1c-1cc0-4343-9996-e4708c015725.jpg" />
                            <p class="promotion-card-para"><strong>DASA DEVOPS VIRTUAL MEETUP-INDIA</strong><br /></p>
                            <p class="promotion-card-link">
                                <a class="promotion-card-link" href="https://www.devopsagileskills.org/dasa-devops-virtual-meetup-new/">Explore 
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for promotion in facilitator_org_details['promotions'] %}
            <div class="row promotion-row">
                <div class="col-12 Promotion-board">
                    <div class="card border-white border rounded shadow">
                        <div class="card-body promotion-card-padding">
                            <img class="advertise-img" src="{{ promotion['image'] }}" />
                            <div class="promotion-card-para" >{{ promotion['promo_message'] | raw }}</div>
                            <p class="promotion-card-link">
                                <a class="promotion-card-link" href="{{ promotion['promotion'] }}">Explore 
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div id="file-upload-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="file-upload-modal-label">Upload file</h5>
                        <button type="button" class="close" data-dismiss="modal" style="float: right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id='upload-btn-div-id' hidden></div>
                        <form  method="POST" enctype="multipart/form-data" id="file-upload-form" class="direct-upload"> <!--action="//dasa-learning-tracker-files.s3-ap-southeast-1.amazonaws.com"-->

                            <!-- We'll specify these variables with PHP -->
                            <!-- Note: Order of these is Important -->
                            <input type="hidden" name="key" >
                            <input type="hidden" name="AWSAccessKeyId"> <!--value="{{ s3_details_4_video_upload['accesskey'] }}"-->
                            <input type="hidden" name="acl"> <!--value="{{ s3_details_4_video_upload['acl'] }}"-->
                            <input type="hidden" name="success_action_status" value="201">
                            <input type="hidden" name="policy"> <!--value="{{ s3_details_4_video_upload['base64Policy'] }}"-->
                            <input type="hidden" name="signature"> <!--value="{{ s3_details_4_video_upload['signature'] }}"-->

                            <input type="file" name="file" id="file-input"> <!--accept="video/*/"-->
                            <label for="file-input">Choose a file</label>

                            <!-- Progress Bar to show upload completion percentage -->
                            <div class="progress" ><div class="bar" ></div></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" id = "btn-close" type="button"  data-dismiss="modal" >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.js"></script>

        {% block bodyBottomInclusions %}{% endblock %}
    </body>
</html>
