{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../../css/profile.css" >
{% endblock %}

{% block body %}


<div class="container" id="facilitated-card">

    <h4><strong>Facilitators:</strong></h4>
    <hr class="mt-0" />

    <div class="row no-gutters">

        {% for facilitated_detail in facilitated_details %}
        {% for course_mapping_detail in facilitated_detail['course_mapping_details'] %}   
        {% set role_type =  course_mapping_detail['role'] %}
        {% set user_id = course_mapping_detail['user_id']  %}
        {% for user_detail in facilitated_detail['user_details'] %}
        {% for each_user in user_detail['each_users'] %}
        {% set id =  each_user['id'] %}
        {% if role_type == 'FACILITATOR' b-and user_id == id %}
        {% set profile_photo =  each_user['profile_pic_binary'] %}
        <div class="col-sm-6 col-md-4 col-lg-3 m-0 p-0">
            <div class="card border-white p-2" id="card-image-animate" >

                {% if profile_photo == NULL %}
                <img class="card-img-top w-100 d-block card-image" src="../../images/avatar.jpg" data-bs-hover-animate="pulse" data-target="#modal-{{ id }} " data-toggle="modal" />

                {% else %}
                <img class="card-img-top w-100 d-block card-image" {{ 'src="' }} {{ each_user.profile_pic_binary }} {{ '"' }} data-target="#modal-{{ id }} " data-toggle="modal" />

                {% endif %}
                <div>
                    <h5 class="card-title">{{ each_user['name'] }}{% if each_user['last_name'] is not empty %} {{ " " }} {{ each_user['last_name'] }} {% endif %}</h5>

                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}       

        {% endfor %}
    </div>
    <h4><strong>Learners:</strong></h4>
    <hr class="mt-0" />
    <div class="row no-gutters">
        {% for facilitated_detail in facilitated_details %}
        {% for course_mapping_detail in facilitated_detail['course_mapping_details'] %}   
        {% set role_type =  course_mapping_detail['role'] %}
        {% set user_id = course_mapping_detail['user_id']  %}
        {% for user_detail in facilitated_detail['user_details'] %}
        {% for each_user in user_detail['each_users'] %}
        {% set id =  each_user['id'] %}
        {% if role_type == 'PARTICIPANT' b-and user_id == id %}
        {% set profile_photo =  each_user['profile_pic_binary'] %}
        <div class="col-sm-6 col-md-4 col-lg-3 m-0 p-0">

            <div class="card border-white p-2" id="card-image-animate">
                {% if profile_photo == NULL %}
                <img class="card-img-top w-100 d-block card-image" src="../../images/avatar.jpg" data-bs-hover-animate="pulse" data-target="#modal-{{ id }} " data-toggle="modal" />
                {% else %}
                <img class="card-img-top w-100 d-block card-image" {{ 'src="' }}{{ each_user.profile_pic_binary }} {{ '"' }} data-bs-hover-animate="pulse" data-target="#modal-{{ id }} " data-toggle="modal" />
                {% endif %}
                <div>
                    <h5 class="card-title">{{ each_user['name'] }}{% if each_user['last_name'] is not empty %} {{ " " }} {{ each_user['last_name'] }} {% endif %}</h5>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}       
        {% endfor %}
    </div>
    {% for facilitated_detail in facilitated_details %}
    {% for user_detail in facilitated_detail['user_details'] %}
    {% for each_user in user_detail['each_users'] %}
    {% set id =  each_user['id'] %}
    <div role="dialog" tabindex="-1" class="modal fade" id="modal-{{ id }}">

        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ each_user['name'] }}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-4" style="text-align: center">
                            {% set profile_photo =  each_user['profile_pic_binary'] %}
                            {% if profile_photo == NULL %}
                            <img src="../../images/avatar.jpg" width="200" height="200" />
                            {% else %}
                            <img {{ 'src="' }} {{ each_user.profile_pic_binary }} {{ '"' }} width="200" height="200" />
                            {% endif %}
                            <h5 class="card-title pt-3">{{ each_user.name }}{% if each_user.last_name is not empty %} {{ " " }} {{ each_user.last_name }} {% endif %}</h5>
                            {% if each_user.facebook_link is not empty %}
                            <div class="row">
                                <div class="col mx-5 p-0">
                                    <a href="{{ each_user.facebook_link }}" target="blank">
                                        <button class="btn btn-facebook btn-lg btn-block border rounded social-network-button " type="button">Visit my <i class="fab fa-facebook-square"></i> page</button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if each_user.linkedin_link is not empty %}
                            <div class="row">
                                <div class="col mx-5 p-0">
                                    <a href="{{ each_user.linkedin_link }}" target="blank">
                                        <button class="btn btn-linkedin btn-lg btn-block border rounded social-network-button " type="button">Visit my <i class="fab fa-linkedin-in"></i> profile</button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col col-sm-8">
                            {{ each_user['profile'] | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}
