{% extends 'base.html' %}

{% block body %}

<div class="container">

    <div class="row mt-5" id="small-cards">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="card text-center" id="card-1">
                <div class="card-body">
                    <a class="card-link" href="/Schedule/new">
                        <div id="inner-card" class="far fa-calendar-alt fa-4x mb-2"></div></a>
                    <p class="card-text ml-5">Schedule</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="card text-center" id="card-1">
                <div class="card-body">
                    <a class="card-link" href="/Resource.html">
                        <div id="inner-card" class="far fa-folder-open fa-4x mb-2"></div></a>
                    <p class="card-text ml-4">Resource Library</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="card text-center" id="card-1">
                <div class="card-body">
                    <a class="card-link" href="/Community/new">
                        <div id="inner-card" class="far fa-snowflake fa-4x mb-2"></div></a>
                    <p class="card-text ml-5">Community</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="card text-center" id="card-1">
                <div class="card-body">
                    <a class="card-link" href="/Message/new">
                        <div id="inner-card" class="far fa-envelope fa-4x mb-2"></div></a>
                    <p class="card-text ml-5" >Notifications</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
