<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css">

        <link rel="stylesheet" href="../../css/profileEdit.css" >
        <link rel="stylesheet" href="../../css/Google-styled-login.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/Footer-Basic.css" />
        {% block head %}{% endblock %}

    </head>

    <body>

        {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <section class="text-center mt-5">
            <div class="container">

                <div class="card">
                    <div class="card-body">
                        {% if user.profile_pic_binary is empty %}
                        <div class="image-upload">
                            <label for="file-input">
                                <img  src="../../images/avatar.jpg" width="150" id="image" class = "img-fluid rounded-circle mb-3"/>
                                <div class="overlay"><i class="fas fa-camera" data-toggle="tooltip" title="Change Profile Photo"></i></div>
                            </label>

                            <input id="file-input" class="upload_image" name="upload_image" type="file" accept="image/*"/>
                        </div>
                        {% else  %}

                        <div class="image-upload">
                            <label for="file-input">
                                <img src="{{ user.profile_pic_binary }}" id="image"  width="150" alt="" class="img-fluid rounded-circle mb-3"/>
                                <div class="overlay"><i class="fas fa-camera" data-toggle="tooltip" title="Change Profile Photo"></i></div>
                            </label>

                            <input id="file-input" class="upload_image" name="upload_image" type="file" accept="image/*"/>
                        </div>
                        {% endif %}

                        <div id="uploadimageModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Upload & Crop Image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8 text-center">
                                                <div id="image_demo" style="width:350px; margin-top:30px"></div>
                                            </div>
                                            <div class="col-md-4" style="padding-top:30px;">
                                                <br />
                                                <br />
                                                <br/>
                                                <button class="btn btn-success crop_image">Crop & Upload Image</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form method="post" name="editProfile" class="form text-left" id="editProfile1" >

                            <input id="profile-pic-binary" name="profile-pic-binary" type="hidden" />
                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <div class="profile">
                                        {% if user.name is not empty %}
                                        {% set first_name_status = "hasValue" %}
                                        {% else %}
                                        {% set first_name_status = "" %}
                                        {% endif %}
                                        <div class="field-wrapper {{ first_name_status }}">
                                            <input class="form-control" type="name" name="firstName" id="inputName" value="{{ user.name }}" class="form-control" required />
                                            <div class="field-placeholder">
                                                <span>First Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="profile">
                                        {% if user.last_name is not empty %}
                                        {% set last_name_status = "hasValue" %}
                                        {% else %}
                                        {% set last_name_status = "" %}
                                        {% endif %}
                                        <div class="field-wrapper {{ last_name_status }}">
                                            <input class="form-control" type="name" name="lastName" id="inputLastName" value="{{ user.last_name }}" class="form-control" required />
                                            <div class="field-placeholder">
                                                <span>Last Name</span>
                                            </div>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper hasValue">
                                            <input class="form-control" type="name" name="emailId" id="inputEmailId" value="{{ user.email }}" class="form-control" readonly />
                                            <div class="field-placeholder">
                                                <span>Email Id</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper">
                                            <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" required/>

                                            <div class="field-placeholder">
                                                <span>Password</span>
                                            </div>

                                        </div>
                                    </div>                    
                                </div>
                            </div>
                            {% set time_zone_groups = time_zones_details['time_zone_groups'] %}
                            {% set timezones =  time_zones_details['timezones'] %}
                            {% set client_region =  time_zones_details['client_region'] %}
                            {% set client_timezone =  time_zones_details['client_timezone'] %}
                            <script>
                                var timeZones = {{ timezones|json_encode|raw }};
                            </script>
                            <div class="row mt-2 mb-2">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pb-2">
                                    <div class="profile timezone-cal-elements">
                                        <div class="row py-0">
                                            <div class="col col-6">
                                                <label class="col-form-label" for="timezone-region-list"><i class="fas fa-globe" aria-hidden="true"></i>Timezone Region</label>
                                            </div>
                                            <div class="col col-6 d-flex align-self-center">
                                                <select class="time-zone-group" id="timezone-region-list" name="timezone_region" required>
                                                    {% for group in time_zone_groups %}
                                                    {% if group == client_region %}
                                                    <option value="{{ group }}" selected='true'>{{ group }}</option>
                                                    {% else %}
                                                    <option value="{{ group }}">{{ group }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 pb-2">
                                    <div class="profile timezone-cal-elements">
                                        <div class="row py-0">
                                            <div class="col col-4">
                                                <label class="col-form-label" for="timezone-list"><i class="far fa-clock mr-1"></i>Timezone</label>
                                            </div>
                                            <div class="col col-8 d-flex align-self-center">
                                                <select class="time-zone-group" id="timezone-list" name="timezone" required>
                                                    {% if client_region is not empty %}
                                                    {% if timezones is empty %}
                                                    <option value="" selected='true'>Select</option>
                                                    {% endif %}
                                                    {% set tzOfSelectedRegion = timezones[(client_region)] %}
                                                    {% for timezone in tzOfSelectedRegion %}
                                                        {% if timezone['timezone'] == client_timezone %}
                                                        <option value="{{ timezone['timezone'] }}" selected='true'>{{ timezone['text'] }}</option>
                                                        {% else %}
                                                        <option value="{{ timezone['timezone'] }}">{{ timezone['text'] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pb-2">
                                    <div class="profile timezone-cal-elements">
                                        <div class="row py-0">
                                            <div class="col col-6">
                                                <label class="col-form-label" for="calender-list"><i class="far fa-calendar-alt mr-1"></i>Calender</label>
                                            </div>
                                            <div class="col col-6 d-flex align-self-center">
                                                <select class="time-zone-group" id="calender-list" name="calender" >
                                                    <option value="Google">Google</option>
                                                    <option value="Yahoo">Yahoo</option>
                                                    <option value="Outlook">Outlook</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper">
                                            <input class="form-control" type="name" name="linkedinProfileLink" id="linkedin-profile"/>
                                            <div class="field-placeholder">
                                                <span>Link to LinkedIn Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="profile">
                                        <div class="field-wrapper">
                                            <input class="form-control" type="name" name="facebookProfileLink" id="facebook-profile"/>
                                            <div class="field-placeholder">
                                                <span>Link to Facebook Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputProfile"><i class="far fa-user mr-1"></i>Profile :</label>
                                <div id="editor-container">{{ user.profile | raw }}</div>
                                <span id="helpBlock" class="help-block">* Leave blank to keep current profile</span>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-dasa form_submit"  type="submit" value="Submit" name="submit"  id="submit" style="color:#ffffff">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>
        
        <div id="confirmModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Profile update successful</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Would you like us to send you calender invites?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-dasa form_submit" id="sendCalenderInvite">Yes Send it now</button>
                        <button type="button" data-dismiss="modal" class="btn btn-bg-lightgray" id="goToHome">No need</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container footer-basic">
            <hr />
            <footer class="footer-items">
                <div class="row ">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 mb-3 text-center">
                        <div class="list-inline">
                            <div class="list-inline-item"><img src="../../images/small-logo1.png"></div>
                            <div class="list-inline-item"><a href="/ExternalLink/footerTermsOfUse">Terms of Use</a></div>
                            <div class="list-inline-item list-item-separate"></div>
                            <div class="list-inline-item"><a href="/ExternalLink/footerPrivacyPolicy">Privacy Policy</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 text-center mb-3">
                        <span class="copyright">Copyright © 2020 DASA Some rights reserved.</span>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-4 text-center">
                        <div class="list-inline">
                            <div class="list-inline-item social-icon-circle">
                                <a href="/ExternalLink/footerFacebook" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div> 
                            <div class="list-inline-item social-icon-circle">
                                <a href="/ExternalLink/footerLinkedIn" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                            <div class="list-inline-item social-icon-circle">
                                <a href="/ExternalLink/footerTwitter" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                            <div class="list-inline-item social-icon-circle">
                                <a href="/ExternalLink/footerInstagram" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </footer>

        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/croppie@2.6.5/croppie.js"></script>
        
        <script type="text/javascript" src="../../js/imageCropper.js"></script>
        <script type="text/javascript" src="../../js/richText.js"></script>
        <script type="text/javascript" src="../../js/loginHelper.js"></script>
        <script type="text/javascript" src="../../js/FirstLogin.js"></script>
        <script src="../../js/hideShowPassword.min.js"></script>
        
        {% block bodyBottomInclusions %}{% endblock %}
    </body>
</html>

