<!DOCTYPE html>
<html>
    <head>
        <title>High Level Schedule</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <style>
            #course-org-logo{
                 float: left;
                 height: 100px;
             }
             #course-logo{
                 float: right;
                 height: 100px;
             }
        </style>
    </head>
   
    <body style="background: transparent;">
        <div class="container text-center">
            <div class="row" >
                <div class="col col-6 align-self-center"  >
                    {% if courseOrgLogo | trim is not empty %}
                    <img id="course-org-logo"  src="{{ courseOrgLogo }}" />
                    {% endif %}
                </div>
                <div class="col col-6">
                    {% if courseLogo |trim is not empty %}
                    <img id="course-logo" src="{{ courseLogo }}" />
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center" style="background-color: #01435c; color: white; padding-top: 15px; padding-bottom: 2px; text-align: center; margin-top: 20px;">
                    <h5>{{ courseName }}</h5>
                    <h6>{{ courseStartDate }} to {{ courseEndDate }}</h6>
                </div>
            </div>
            {% set background = 'session-item-dark' %}
            {% for session in schedules %}
                {% if background == 'session-item-dark' %}
                    {% set background = 'session-item-light' %}
                {% else %}
                    {% set background = 'session-item-dark' %}
                {% endif %}

                {% if background == 'session-item-dark' %}
                    <div class="row d-flex align-items-center" style="background-color: darkgray; color: white; font-size: 14px; padding-bottom: 8px; padding-top: 8px; ">
                {% else %}
                    <div class="row d-flex align-items-center" style="background-color: none; color: black; font-size: 14px; padding-bottom: 8px; padding-top: 8px; ">
                {% endif %}   
                    <div class="col-2">
                        Session {{ session['session_index'] }}
                    </div>
                    <div class="col-5">
                        {{ session['session_name'] }}
                    </div>
                    <div class="col-2">
                        {{ session['start_date']}}
                    </div>
                    <div class="col-3">
                        {{ session['start_time']}} - {{ session['end_time']}}
                    </div>
                </div>
            {% endfor %}
    </body>
</html>
