{% extends 'FacilitatorBase.html' %}

{% block head %}
<link rel="stylesheet" href="../../css/inputFields.css">
{% endblock %}

{% block body %}
<div class="setup-card-1" style="padding: 0px;">
    <section class="main-div">
        <div>
            <div class="row">
                <div class="col explore-col">
                    <h4 class="text-left card-top-heading">
                        <i class="fas fa-files-o"></i>
                         Courses
                    </h4>
                </div>
            </div>
        </div>
    </section>

    {% if subjectList is not empty %}
    <section class="main-div">
        <div class="row explore-row">
            <div class="col-sm-6 col-md-4 zero-padding mb-2 px-1">
                <label for="subjectList">Subject</label>
                <select class="custom-select custom-select-sm general-select-in-body" id="subjectList">
                    <option value="">Select</option>
                    {% for subject in subjectList %}
                    <option value="{{ subject['subject_id'] }}">{{ subject['subject'] }}{{ " (" }}{{ "v" }}{{ subject['version'] }}{{ ")" }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>

    <section class="second-section main-div" id="creation-section">
        <label for="creation-section-card" class="card-top-sub-heading">Create New</label>
        <div class="card section2-cards p-3" id="creation-section-card">
            <div class="row no-gutters">
                <div class="col-sm-6 col-md-4 px-1">
                    <div class="field-wrapper">
                        <input id="course-name" type="text" class="form-control" required />
                        <div class="field-placeholder">
                            <span>Name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters mt-4">
                <div class="col-sm-4 col-md-3 px-1">
                    <label for="co-facilitators">Co Facilitators</label>
                    <form id="co-facilitators" >
                        {% for facilitator in facilitators %}
                        {% if facilitator['id'] != Superglobal_session['user_id'] %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class= "cofacilitator-checkbox" value="{{ facilitator['id'] }}">
                                <span id="facilitator-{{ facilitator['id'] }}">{{facilitator['name']}}</span>
                            </label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
            <label for="optional-links" class="mt-4 px-1">Optional Links</label>
            <div class="row no-gutters mt-2" id='optional-links'>
                <div class="col-12 col-sm-8 col-md-6 col-xl-4 px-1">
                    <div class="field-wrapper">
                        <input id="slack-channel-link" type="url" class="form-control social-media-link" name="slack" />
                        <div class="field-placeholder">
                            <span>Slack Channel Link</span>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-xl-2 px-1">
                    <select class="custom-select custom-select-sm general-select-in-body" id="slack-channel-link-place">
                        <option value="select">Select the position</option>
                        <option value="NAV_BAR" selected>Top Navigation bar</option>
                        <option value="COMMUNITY_PAGE">Community page</option>
                        <option value="BOTH">Both</option>
                    </select>
                </div>
            </div>
            <div class="row no-gutters mt-2" id='optional-links'>
                <div class="col-12 col-sm-8 col-md-6 col-xl-4 px-1">
                    <div class="field-wrapper">
                        <input id="white-board-link" type="url" class="form-control social-media-link" name="whiteboard" />
                        <div class="field-placeholder">
                            <span>Link to White Board App</span>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-xl-2 px-1">
                    <select class="custom-select custom-select-sm general-select-in-body" id="white-board-link-place">
                        <option value="select">Select the position</option>
                        <option value="NAV_BAR" selected>Top Navigation bar</option>
                        <option value="COMMUNITY_PAGE">Community page</option>
                        <option value="BOTH">Both</option>
                    </select>
                </div>
            </div>
            <div class="row no-gutters mt-2" id='optional-links'>
                <div class="col-12 col-sm-8 col-md-6 col-xl-4 px-1">
                    <div class="field-wrapper">
                        <input id="linkedin-link" type="url" class="form-control social-media-link" name="linkedin" />
                        <div class="field-placeholder">
                            <span>Link to Linked In Group</span>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-xl-2 px-1">
                    <select class="custom-select custom-select-sm general-select-in-body" id="linkedin-link-place">
                        <option value="select">Select the position</option>
                        <option value="NAV_BAR">Top Navigation bar</option>
                        <option value="COMMUNITY_PAGE" selected>Community page</option>
                        <option value="BOTH">Both</option>
                    </select>
                </div>
            </div>
            <div class="row no-gutters mt-2" id='optional-links'>
                <div class="col-12 col-sm-8 col-md-6 col-xl-4 px-1">
                    <div class="field-wrapper">
                        <input id="facebook-link" type="url" class="form-control social-media-link" name="facebook" />
                        <div class="field-placeholder">
                            <span>Link to Facebook Group</span>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-xl-2 px-1">
                    <select class="custom-select custom-select-sm general-select-in-body" id="facebook-link-place">
                        <option value="select">Select the position</option>
                        <option value="NAV_BAR">Top Navigation bar</option>
                        <option value="COMMUNITY_PAGE" selected>Community page</option>
                        <option value="BOTH">Both</option>
                    </select>
                </div>
            </div>
            <div class="text-right button-div mt-4">
                <div class="row no-gutters">
                    <div class="col">
                        <button class="btn btn-primary text-right border rounded" type="submit" style="background-color: #d76f5f;" id="resource-submit-btn" onclick="submitNewCourse()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="second-section main-div d-none" id="main-content-section" >
        <label for="mainContentSection" class="card-top-sub-heading">Configured Courses</label>
        <div id = "mainContentSection"></div>
    </section>
</div>


{% endblock %}

{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/facilitatorUtils.js"></script>
<script src="../../js/genericFileUpload.js"></script>
<script src="../../js/courses1.js"></script>
{% endblock %}
