<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Learning Tracker</title>
        <!-- Latest compiled and minified CSS -->
        {% if brand_details['favicon'] is empty %}
            <link rel="icon" type="image/ico" href="https://learning-tracker-public-files.s3-ap-southeast-1.amazonaws.com/ideas-at-work/yayati_logo.ico"/>
        {% else %}
            <link rel="icon" type="image/ico" href="{{ brand_details['favicon'] }}"/>
        {% endif %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

        <link rel="stylesheet" href="../../css/Google-styled-login.css">

        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/login.css">
        <link rel="stylesheet" href="../../css/Footer-Basic.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>


        <script type="text/javascript" src="../../js/Schedule.js"></script>
        <script type="text/javascript" src="../../js/loginHelper.js"></script>
    </head>

    <body class="d-lg-flex align-items-lg-center" style="background-color: rgb(247,247,247);">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12 col-md-2 col-lg-3"></div>
                <div class="col col-xs-12 col-md-8 col-lg-6">
                    <div class="login-card"  style="width: 100%">
                        {% if brand_details is empty %}
                            <img src="../../images/logo.png" />
                        {% else %}
                            <a href="{{ brand_details.website_link }}" target="blank">
                                <img src="{{ brand_details.logo_link }}" alt="{{ brand_details.name }}" width="100%"/>
                            </a>
                        {% endif %}
                        <form class="form-signin" action="/login/create" method="post">

                            <span class="reauth-email"> </span>
                            <div id="div-input-text" class="field-wrapper">
                                <input class="form-control" type="email" name="email" id="inputEmail" value="{{ email }}" class="form-control" required />
                                <div class="field-placeholder">
                                    <span>Enter your email</span>
                                </div>
                            </div>
                            <div id="div-input-text" class="field-wrapper">
                                <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" />
                                <div class="field-placeholder">
                                    <span>Enter your password</span>
                                </div>
                            </div>
                            <div class="checkbox" name="remember_me_checkbox" >
                                <label>
                                    <input type="checkbox" id="remember_me" name="remember_me" {% if remember_me %} checked="checked" {% endif %} onClick="optedToRemember()"/> 
                                    Remember me
                                </label>
                            </div>
                            <label id='cookie_notification' hidden>
                                To support the feature of remembering your login on this device, we need to store certain information in Cookies.
                                <br>No personal information would be stored in the cookie.<br>The highest risk of this would be: anybody having this device will be able to login to our system as you.
                                <br>Kindly either agree to use of cookies or un-check the remember me option above to let go the remembering facility<br>
                            </label>
                            <div class="checkbox" id="cookies_usage_confirmation" hidden>
                                <label>
                                    <input type="checkbox" id='cookies_usage_confirmation_checkbox' /> Agree to use Cookies 
                                </label>
                            </div>
                            <div hidden>
                                <input type="text" id='timezone' name="timezone" value="" hidden/>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn btn-block signin-button btn-default">sign in</button>
                            </div>
                        </form>

                        <div>
                            <a href="/password/forgot">Forgot password?</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script> 
        
    </body>

</html>