{% extends 'newLearnerBase.html' %}

{% block pagehead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="../../css/assignmentSubmissions1.css" />
<link rel="stylesheet" href="../../css/fileUpload.css">
<link rel="stylesheet" href="../../css/presentations.css">
<link rel="stylesheet" href="../../css/quiz.css">

{% endblock %}

{% block section %}



<div class="setup-card-1 maincontent" style="padding: 0px;">
    <section class="main-div">
        <h4 class="card-top-heading">Quiz</h4>

        <!-- ============SUBJECT_QUIZ============= -->

        {% if moduleAndSubjectQuiz is not empty %}
        <div class="session-card-heading " >
            Program
        </div>

        <div id=" sessionCardDivId " class="card session-card zero-padding" >
            <div class="row no-gutters resource-content-row ">


                {% for quiz_question_group in moduleAndSubjectQuiz %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card reflection-card box-shadow " data-toggle="modal" href="#quizModal" id="quizModalOpen" onclick="getQuizQuestions({{ quiz_question_group['id'] }})">
                        <div class="card-heading ">
                            <div class="row ">
                                <div class="col quiz-title">
                                    <p style="margin-bottom:0rem!important">{{ quiz_question_group['quiz_group_name'] }}</p>
                                </div>
                                <div id="quizTickMark-{{ quiz_question_group['id'] }}"></div>
                                {% if quiz_question_group['answer_status'] == "ANSWERED" %}
                                <div class="col col-1 on-submission-tickmark">
                                    <i class="icon fa fa-check"></i>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>


        {% endif %}

        <div class="row no-gutters reflection-content-row" id="reflection-row">


            {% for session in sessionWiseQuiz %}
            {% if session['quiz_question_group'] is not empty %}

            <div class="session-card-heading " >
                Session {{session['session_index']}} : {{ session['session_name'] }}
            </div>

            <div id=" sessionCardDivId " class="card session-card zero-padding" >
                <div class="row no-gutters resource-content-row ">


                    {% for quiz_question_group in session['quiz_question_group'] %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card reflection-card box-shadow " data-toggle="modal" href="#quizModal" id="quizModalOpen" onclick="getQuizQuestions({{ quiz_question_group['id'] }})">
                            <div class="card-heading ">
                                <div class="row ">
                                    <div class="col quiz-title">
                                        <p style="margin-bottom:0rem!important">{{ quiz_question_group['quiz_group_name'] }}</p>
                                    </div>
                                    <div id="quizTickMark-{{ quiz_question_group['id'] }}"></div>
                                    {% if quiz_question_group['answer_status'] == "ANSWERED" %}
                                    <div class="col col-1 on-submission-tickmark">
                                        <i class="icon fa fa-check"></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>



            {% endif %}
            {% endfor %}

        </div>

    </section>
</div>

<div class="modal fade quizModal" role="dialog" tabindex="-1" id="quizModal">
    <div class="modal-dialog modal-xl" style="min-width: 87%!important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="quizModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="closeQuizModal" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body questions-group p-5" id="quizModalBody">

            </div>
            <div class="modal-footer" id = "quiz-footer">

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>



{% endblock %}

{% block pageBottomInclusions %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/fileUpload.js"></script>
<script type="text/javascript" src="../../js/learnersQuiz2.js"></script>
<script type="text/javascript" src="../../js/quizzes1.js"></script>
<script type="text/javascript" src="../../js/Schedule.js"></script>
{% endblock %}
