{% extends 'newLearnerBase.html' %}

{% block pagehead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="../../css/assignmentSubmissions1.css" />
{% endblock %}

{% block section %}



<div class="setup-card-1 maincontent" style="padding: 0px;">
    <section class="main-div">
        <h4 class="card-top-heading">Reflections</h4>

        <div class="row no-gutters reflection-content-row" id="reflection-row" >

            {% for session in sessionWiseReflections %}
            {% if session['Reflections'] is not empty %}

            <div class="session-card-heading" >{{session['group']}}</div>

            <div id=" sessionCardDivId " class="card session-card zero-padding"  >

                <div class="row no-gutters resource-content-row " >

                    {% for reflection in session['Reflections'] %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-left">

                        <div class="card reflection-card box-shadow reflectionCard" data-toggle="modal" href="#reflectionModal" id="reflectionModel" onclick="getReflection({{ reflection['id'] }})"  >
                            <div class="card-header">
                                <div class="row">
                                    <div class="col reflection-title" id="reflection-{{ reflection['id'] }}">
                                        {{ reflection['name'] }}
                                    </div>
                                    {% if reflection['reflection'] is null %}
                                    <div class="col col-1 on-submission-tickmark " id="reflectionTickMark-{{ reflection['id'] }}" hidden>
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% else %}
                                    <div class="col col-1 on-submission-tickmark " id="reflectionTickMark-{{ reflection['id'] }}">
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {{ reflection['description'] | raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </section>
</div>

<div class="modal fade reflectionModal" role="dialog" tabindex="-1" id="reflectionModal">
    <div class="modal-dialog modal-xl" style="min-width: 86%!important; " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="reflectionModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="closeButton" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="reflectionModalBody">
                <div>
                    <label for="inputProfile">Topic: <span id="reflectionTitle"></span></label>
                    <div id="editor-container"></div>
                </div>
            </div>
            <div class="modal-footer" id = "reflection-footer">

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>



{% endblock %}

{% block pageBottomInclusions %}
<script type="text/javascript" src="../../js/Reflections.js"></script>
<script type="text/javascript" src="../../js/richText.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/fileUpload.js"></script>
<script src="../../js/presentationImageHandler.js"></script>
<script type="text/javascript" src="../../js/Schedule.js"></script>
{% endblock %}
