{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../../css/MessageDisplay.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="../../css/GenericStyles.css">
<link rel="stylesheet" href="../../css/fileUpload.css">
<link rel="stylesheet" href="../../css/presentations.css">
<link rel="stylesheet" href="../../css/quiz.css">
<link rel="stylesheet" href="../../css/assignmentSubmissions1.css" />

{% endblock %}

{% block body %}

{% set course_start_date = "" %}
{% set course_end_date = "" %}
{% set remote_session_link = "" %}
{% set remote_session_index = "" %}
{% for session in sessions %}
{% if loop.first %}
{% set course_start_date = session['session_schedule_date'] %}
{% elseif loop.last %}
{% set course_end_date = session['session_schedule_date'] %}
{% endif %}
{% set start_time = session['session_schedule_start_time'] %}
{% set end_time = session['session_schedule_end_time'] %}
{% set schedule_date = session['session_schedule_date'] %}
{% set current_time =  now|date("H:i") %}
{% set current_time_plus_ten =  time_for_remote_link['time'] %}
{% if schedule_date == time_for_remote_link['date'] %}
{% if current_time_plus_ten >= start_time  and current_time <= end_time %}
{% set  remote_session_link = session['session_schedule_meeting_link'] %}
{% set  remote_session_index = session['session_index'] %}
{% endif %}
{% endif %}
{% endfor %}

<script>
    var today = new Date();
    var s3_details_4fileUpload = JSON.parse('{{ s3_details_4_attachment_upload | json_encode() | raw}}');
    var attachment_File_Prefix = JSON.parse('{{ attachment_file_prefix | json_encode() | raw}}');
    var team_members = JSON.parse('{{ team_members | json_encode() | raw}}');
    var user_id = JSON.parse('{{ user_id | json_encode() | raw}}');
</script>


<div class="container mb-4">
    <div class="text-center" id="session-table-heading">
        <h5>{{ courseName }}</h5>
        <h6>{{ course_start_date }} to {{ course_end_date }}</h6>

        <div class="row no-gutters text-right d-lg-flex justify-content-lg-end">
            <div class="schedule-dropdown">
                <div class="dropdown shedule-dropdown" id="schedule-download-dropdown">
                    <button class="btn dropdown-toggle text-light schedule-dropdown-button flat-btn"
                            data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-download"></i>
                        <div class="button-label">Download</div> 
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" target="blank"
                           href="/Schedule/highLevelSchedulePdf">Highlevel Schedule</a>
                        <!--    <a class="dropdown-item" role="presentation" target="blank" href="/Schedule/detailedPdf">Detailed Schedule</a> -->
                    </div>
                </div>
            </div>
            <div class="schedule-dropdown">
                <div class="dropdown border-light" id="schedule-add2calendar-dropdown">
                    <button class="btn dropdown-toggle schedule-dropdown-button flat-btn" data-toggle="dropdown"
                            aria-expanded="false" type="button"><i class="far fa-calendar-alt"></i>
                        <div class="button-label">Add To calender</div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                           onclick='calenderInvite("Google")'>Google Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                           onclick='calenderInvite("Yahoo")'>Yahoo Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                           onclick='calenderInvite("Outlook")'>Outlook Calender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="session-container">
        {% if remote_session_link != "" %}
        <div class="row no-gutters d-xl-flex text-center  meeting-link ">

            <div class="col">
                <a href="{{ remote_session_link }}" target="blank">
                    <div class=" btn btn-primary btn-sm pull-right m-1 px-3 ">
                        SESSION {{ remote_session_index }} IN-PROGRESS, JOIN THE MEETING NOW!
                    </div>
                </a>
            </div>
        </div>
        <hr class="m-0">
        {% endif %}
        {% set background = 'session-item-dark' %}
        {% for session in sessions %}

        {% if background == 'session-item-dark' %}
        {% set background = 'session-item-light' %}
        {% else %}
        {% set background = 'session-item-dark' %}
        {% endif %}

        <div class="row no-gutters d-xl-flex align-items-xl-center session-item-heading collapsed-session {{ background }}"
             id="session-heading-{{ session['session_id'] }}" session-id="{{ session['session_id'] }}"
             onmouseover="addExpandCollapseIcon(this.id)" onmouseout="removeExpandCollapseIcon(this.id)"
             onclick="sessionHeadingRowClicked(this.id)" title="Click here to expand session details">
            <div class="col">
                <i id="session-expand-icon-{{ session['session_id'] }}"></i>
            </div>

            <div class="col col-sm-9 col-md-2">
                Session {{ session['session_index'] }}
            </div>

            <div class="col col-sm-7 col-md-5">

                {{ session['session_name'] }}
            </div>
            <div class="col col-sm-4 col-md-3">
                <div class="row">
                    <div class="col">

                        {{ session['session_schedule_date']}}, {{ session['session_schedule_start_time']}} to
                        {{ session['session_schedule_end_time']}}
                    </div>
                </div>
            </div>
            <div class="col col-1">
                {% set session_recordings = session['session_recordings'] %}
                {% set video_parts = session_recordings['video_parts'] %}
                {% if video_parts is not empty %}

                <i class="fas fa-video-camera session-video-icon" id="session-video-icon{{ session['session_id'] }}"
                   session-id="{{ session['session_id'] }}" onclick="sessionVideoIconClicked(this.id)"></i>

                {% endif %}
            </div>
        </div>
        <div id="collapse-session{{ session['session_id'] }}" class="collapse">

            {% set topics =  session['topics'] %}
            <div class="row no-gutters session-item-content">
                <div class="col col-4">
                    <p>Topics</p>
                    <ul>
                        {% for topic in topics %}
                        <li>{{ topic['topic_name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="d-xl-flex align-items-xl-center session-recording-section-heading recordings-section-collapsed"
                 session-id="{{ session['session_id'] }}" id="session-recordings-heading-{{ session['session_id'] }}"
                 onclick="recordingsSectionHeadingClicked(this.id)">
                <i id="session-recording-expand-icon-{{ session['session_id'] }}"
                   class="fas fa-2x fa-angle-double-right"></i> Session Recordings & Resources
            </div>
            <div class="collapse mb-1" id="session-recording-section-{{ session['session_id'] }}">
                {% set session_recordings = session['session_recordings'] %}
                {% set video_parts = session_recordings['video_parts'] %}
                {% if video_parts is not empty %}
                <div class="card session-recording-item" id="video-section-{{ session['session_id'] }}">
                    <div class="row no-gutters">
                        <div class="card">
                            <ul class="nav nav-tabs active bg-light">
                                {% for video_part in video_parts %}
                                {% set video_id = video_part['id'] %}

                                <li class="nav-item active" data-toggle="tab">
                                    <a class="nav-link {% if loop.first %} active {% endif %}" data-toggle="tab" href="#schedule_video_section{{ video_id }}">
                                        {% if video_part.thumbnail_link == "" %}
                                            <i class="fas fa-video fa-4x" data-count="{{ loop.index }}"></i>
                                        {% else %}
                                            <img {{ 'src="' }} {{ video_part.thumbnail_link }} {{ '"' }} width="200" style="width: 150px;" />
                                        {% endif %}
                                        {% if video_part.name != "" %}
                                        <p class="ml-0 text-center">{{ video_part.name }}</p>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="card-body tab-content">
                                {% for video_part in video_parts %}
                                {% set video_id = video_part['id'] %}
                                {% if loop.first %}
                                <div id="schedule_video_section{{ video_id }}" class="tab-pane fade active show">
                                    <div class="row">
                                        <div class="col">
                                            <video width="100%" controls>
                                                <source {{ 'src="' }} {{ video_part.video_link }} {{ '"' }}
                                                        type="video/mp4">
                                                </source></video>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div id="schedule_video_section{{ video_id }}" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col">
                                            <video width="100%" controls>
                                                <source {{ 'src="' }} {{ video_part.video_link }} {{ '"' }}
                                                        type="video/mp4">
                                                </source></video>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if session_recordings['presentationImage'] | length  < 2 %}
                {% set presentations = session_recordings['presentations'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="fas fa-briefcase"></i>
                            <div class="resource-label">Presentations</div>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters resource-content-row">
                    {% for presentation in presentations %}
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <a class="card-link" href="{{ presentation['presentation_link'] }}" target="blank">
                            <div class="card resource-tumbnail">
                                <img class="img-fluid" src="{{ presentation['thumbnail_link'] }}" />
                                <div class="card-body resources-card p-1">
                                    {{ presentation['name'] }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                {% set presentationImage = session_recordings['presentationImage'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="fas fa-briefcase"></i>
                            <div class="resource-label">Presentations*</div>
                        </span>
                    </div>
                </div>

                <div class="card session-recording-item h-100">
                    <div class="row no-gutters presentation-row">

                        {% set countOfPresentations = presentationImage['countOfSlides'] %}
                        <div class="col">
                            <img id="presentationImage{{ session['session_id'] }}" class="img-fluid w-100"
                                 src="{{ presentationImage['filePath'] }}"
                                 order="{{ presentationImage['order'] }}"
                                 topic_id="{{ presentationImage['topic_id'] }}" />
                        </div>
                    </div>

                    <div class="row no-gutters presentation-nav-row">
                        <div class="col-3 col-sm-4 col-md-5"></div>

                        <div class="col-6 col-sm-4 col-md-2 text-center presentation-nav-group">
                            <button id="previousPresentationNavBtn{{ session['session_id'] }}"
                                    class="btn presentation-nav-item" type="button" title="Previous"
                                    onclick="navigateToNextSlideOfSession('Previous', {{ session['session_id'] }}, {{ session['session_index'] }}, {{ session['session_id'] }})">
                                <i class="fa fa-2x fa-caret-left"></i>
                            </button>
                            <div class="presentation-nav-item">
                                <div id="currentSlideIndex{{ session['session_id'] }}"
                                     class="slideIndexText">1</div>
                                <div class="slideIndexText">of</div>
                                <div id="countOfSlides{{ session['session_id'] }}" class="slideIndexText">
                                    {{ countOfPresentations }}</div>
                            </div>

                            <button id="nextPresentationNavBtn{{ session['session_id'] }}"
                                    class="btn presentation-nav-item" type="button" title="Next"
                                    onclick="navigateToNextSlideOfSession('Next', {{ session['session_id'] }}, {{ session['session_index'] }}, {{ session['session_id'] }})">
                                <i class="fa fa-2x fa-caret-right"></i>
                            </button>
                        </div>

                        <div class="col-3 col-sm-4 col-md-5 pull-right presentation-action-group">
                            <button class="btn fullscreen-icon" type="button" title="Expand to Full Screen">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row presentation-row h-100">
                        <div class="col">
                            {% set session_notes = session_recordings['notes'] %}
                            {% set slide_note = presentationImage['note'] %}

                            <div id="current-slide-note-hidden{{session['session_id']}}" hidden>{{ slide_note | raw  }}</div>
                            <div class="card box-shadow p-1" id="current-slide-note-container-{{session['session_id']}}" topic_id="{{ presentationImage['topic_id'] }}" order="{{ presentationImage['order'] }}">
                                {% if slide_note == "" %}
                                <div id="current-slide-note-{{session['session_id']}}" class="add-notes-text-box" onclick="addOrEditNoteToSessionSlide({{session['session_id']}})">
                                    <i class="fas fa-notes-medical"></i>
                                    Click here to add your notes for the current slide
                                </div>
                                {% else %}
                                <div id="current-slide-note-{{session['session_id']}}" onclick="addOrEditNoteToSessionSlide({{session['session_id']}})">{{ slide_note | raw  }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="d-xl-flex align-items-xl-center notes-section-heading notes-section-collapsed"
                         session-id="{{ session['session_id'] }}" id="notes-section-heading-{{ session['session_id'] }}"
                         onmouseover="addExpandCollapseIcon4Notes(this.id)"
                         onmouseout="removeExpandCollapseIcon4Notes(this.id)"
                         onclick="notesSectionHeadingClicked(this.id)">
                        <i id="notes-section-collapse-icon{{ session['session_id'] }}"></i> <i class="far fa-2x fa-clipboard"></i> Notes of Session {{ session['session_index'] }}
                    </div>

                    <div class="collapse mb-1" id="session-notes-section-{{ session['session_id'] }}">
                        <div class="row no-gutters">
                            <div class="col p-2 mr-3">
                                <div onclick="notesExportModal({{ session['session_index'] }})" style="float: right;">
                                    <i class="fas fa-download fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        {% set session_notes = session_recordings['notes'] %}

                        {% for note in session_notes %}
                        <div class="card note-card box-shadow m-3" id="note-card{{ note['slide_id'] }}" topic_id="{{ note['topic_id'] }}" order="{{ note['order'] }}">
                            <div class="row">
                                <div class="col-1 offset-11"><i class="fas fa-trash note-delete-icon" title="Delete the note" onclick="deleteNote({{ note['slide_id'] }})"></i></div>
                            </div>
                            <div class="card-body">
                                <img class="note-card-thumbnail" id="note-thumbnail-{{ note['slide_id'] }}" src="{{ note['slide_link'] }}">
                                {{ note['note'] | raw }}
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>

                {% endif %}

<!-- ===============ASSIGNMENT SECTION ================== -->

                {% set assignments = session_recordings['assignments'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="far fa-sticky-note"></i>
                            <div class="resource-label">Assignments</div>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters resource-content-row">
                    {% for assignment in assignments %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 text-left">
                        <div class="card Asssignment-card box-shadow">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-title">{{ assignment['name'] }}</p>
                                    </div>
                                    {% if assignment['assignmentType']=="COURSE_SESSION_ASSIGNMENT" %}
                                        {% if assignment['submission_status']=="submitted" %}

                                        {% if assignment['submission_type'] == "INDIVIDUAL" %}

                                            <div class="col col-2">
                                                <i class="far fa-user assignment-upload-status-icon" data-toggle="tooltip" title="Submitted as an individual"></i>
                                            </div>

                                        {% elseif assignment['submission_type'] == "TEAM" %}
                                        {% set tooltip = "In collaboration with" %}
                                        {% set team = "" %}

                                        {% for name in assignment['other_team_members'] %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                {% set tooltip = tooltip ~ "\n" ~ name['name'] %}
                                        {% set team = name['name'] %}



                                        {% endfor %}

                                        <div class="col col-1">
                                            <i class="fas fa-users assignment-upload-status-icon" data-toggle="tooltip" title="{{ tooltip ~'\n'~ team_mem_names | nl2br }}"></i>
                                        </div>
                                        {% endif %}

                                        {% endif %}
                                    {% endif %}

                                    {% if assignment['assignmentType']=="SUBJECT_ASSIGNMENT" %}
                                        <div class="col col-2" id="submission-status-icon-{{ assignment['id'] }}">
                                            {% if assignment['submission_status']=="submitted" %}
                                                {% if assignment['submission_details']['submission_type'] == "INDIVIDUAL" %}
                                                    <i class="far fa-user assignment-upload-status-icon" data-toggle="tooltip" title="Submitted as an individual"></i>
                                                {% elseif assignment['submission_details']['submission_type'] == "TEAM" %}
                                                    {% set tooltip = "In collaboration with" %}
                                                    {% for name in assignment['submission_details']['other_team_members'] %}
                                                        {% set tooltip = tooltip ~ "\n" ~ name['name'] %}
                                                    {% endfor %}
                                                        <i class="fas fa-users assignment-upload-status-icon" data-toggle="tooltip" title="{{ tooltip }}"></i>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="card-body card-text assignment-description">
                                {{ assignment['description'] | raw }}
                            </div>
                            <div class="card-footer">
                                {% set assignment_id = assignment['id'] %}
                                {% set submissionStatus = assignment['submissionStatus'] %}
                                {% set submission_id = assignment['submission_id'] %}
                                {% set reference_documents = assignment['reference_documents'] %}
                                {% set reference_document_count = reference_documents | length %}
                                {% set assignmentType = assignment['assignmentType'] %}

                                <div class="row">
                                    {% if reference_document_count > 0 %}
                                    <div class="col assignment-references">
                                        <div class="card-footer-title text-left">Reference Documents</div>
                                        {% for reference_document in reference_documents %}
                                        <div class="file-name"><i class="far fa-file mr-1"></i>
                                            <a role="presentation" href="{{ reference_document['document_link'] }}"
                                               target="blank">{{ reference_document['document_name'] }}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    {% if assignmentType == 'COURSE_SESSION_ASSIGNMENT' %}
                                        <div class="col">
                                            {% if assignment['submission_status']=="not_submitted" %}
                                                <button class="btn btn-bg-lightgray flat-btn ml-1 assignment-upload-button float-right mt-2" assignment_type="{{ assignment['assignment_type'] }}" assignmentId="{{ assignment_id }}" internalFileName="{{ assignment['internalFileName'] }}" data-toggle="modal" data-target="#" type="submit" disabled>
                                                    <i class="fas fa-upload"></i><div class="button-label">Upload </div>
                                                </button>
                                            {% endif %}
                                            {% if assignment['submission_status']=="submitted" %}
                                                <div class="card-footer-title text-left">Submitted Documents</div>
                                            {% set uploadedDocuments = assignment['submission_details']['uploaded_documents'] %}
                                            {% set oneDocumentDetails = uploadedDocuments[0] %}
                                                <a class="uploaded-assignment-download" role="presentation" href="#" >
                                                    <div class="Submitted-Documents">
                                                        <i class="fas fa-download submitted-assignment-download-icon" onclick="startDownload('{{ oneDocumentDetails['url'] }}')" data-toggle="tooltip" title="click to download the uploaded file"></i>
                                                        <span>{{ oneDocumentDetails['name'] }}</span>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% elseif assignmentType == 'SUBJECT_ASSIGNMENT' %}

                                        <div class="col" id = "button-div-{{ assignment_id }}">
                                            {% if assignment['submission_status']=="not_submitted" %}
                                                <button id="submitButton{{ assignment_id }}" class="btn btn-bg-lightgray flat-btn ml-1 assignment-upload-button float-right mt-2" assignment_type="{{ assignment['assignment_type'] }}" assignmentId="{{ assignment_id }}" internalFileName="{{ assignment['internalFileName'] }}" onclick="createSubmissionModal({{ assignment_id }})" data-toggle="modal" data-target="#assignment-file-upload-modal" type="submit">
                                                    <i class="fas fa-upload"></i><div id="submit{{ assignment_id }}" class="button-label" title="Click to submit">Submit </div>
                                                </button>

                                            {% elseif assignment['submission_status']=="submitted" %}
                                                {% if submissionStatus != "ACCEPTED" %}
                                                    <button id="submitButton{{ assignment_id }}" submission_id="{{ submission_id }}" submissionStatus="{{ submissionStatus }}" class="btn btn-bg-lightgray flat-btn ml-1 assignment-upload-button float-right mt-2 " assignment_type="{{ assignment['assignment_type'] }}" assignmentId="{{ assignment_id }}" internalFileName="{{ assignment['internalFileName'] }}" onclick="resubmission({{ assignment_id }})" data-toggle="modal" data-target="#assignment-file-upload-modal" type="submit">
                                                        <i class="fas fa-check"></i><div id="submit{{ assignment_id }}" class="button-label" title="Click to resubmit">View and Resubmit </div>
                                                    </button>
                                                {% elseif submissionStatus == "ACCEPTED" %}
                                                    <button id="submitButton{{ assignment_id }}" submission_id="{{ submission_id }}" submissionStatus="{{ submissionStatus }}" class="btn btn-bg-lightgray flat-btn ml-1 assignment-upload-button float-right mt-2 " assignment_type="{{ assignment['assignment_type'] }}" assignmentId="{{ assignment_id }}" internalFileName="{{ assignment['internalFileName'] }}" onclick="resubmission({{ assignment_id }})" data-toggle="modal" data-target="#assignment-file-upload-modal" type="submit">
                                                        <i class="fas fa-check"></i><div id="submit{{ assignment_id }}" class="button-label" title="Accepted, Click to View">View</div>
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

<!-- =========Quiz Section================ -->
                {% set quiz_question_groups = session_recordings['quiz_question_groups'] %}
                {% if quiz_question_groups is not empty %}
                <div class="row no-gutters session-content-heading-gray">
                    <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                        <i class="far fa-list-alt"></i>
                        <div class="resource-label">Quiz</div>
                    </span>
                </div>
                <div class="row no-gutters quiz-content-row" id="quiz-row">
                    {% for quiz_question_group in quiz_question_groups %}
                    <div class="card quiz-card box-shadow" data-toggle="modal" href="#quizModal"
                         onclick="getQuizQuestions({{ quiz_question_group['id'] }})">
                        <div class="card-heading">
                            <div class="row">
                                <div class="col quiz-title">
                                    {{ quiz_question_group['quiz_group_name'] }}
                                </div>
                                <div id="quizTickMark-{{ quiz_question_group['id'] }}"></div>
                                {% if quiz_question_group['answer_status'] == "ANSWERED" %}
                                <div class="col col-1 on-submission-tickmark">
                                    <i class="icon fa fa-check"></i>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                {% set reflections = session_recordings['reflectionDetails'] %}
                {% if reflections is not empty %}
                <div class="row no-gutters session-content-heading-gray">
                    <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                        <i class="fas fa-book"></i>
                        <div class="resource-label">Reflections</div>
                    </span>
                </div>
                <div class="row no-gutters reflection-content-row" id="reflection-row">
                    {% for reflection in reflections %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 text-left">
                        <div class="card reflection-card box-shadow" data-toggle="modal" href="#reflectionModal"
                             onclick="getReflection({{ reflection['id'] }})">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col reflection-title" id="reflection-{{ reflection['id'] }}">
                                        {{ reflection['name'] | raw }}
                                    </div>
                                    {% if reflection['reflection'] is not null %}
                                    <div class="col col-1 on-submission-tickmark "
                                         id="reflectionTickMark-{{ reflection['id'] }}">
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% else %}
                                    <div class="col col-1 on-submission-tickmark "
                                         id="reflectionTickMark-{{ reflection['id'] }}" hidden>
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {{ reflection['description'] | raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="text-center" id="session-table-heading">
            <div class="row no-gutters text-right d-lg-flex justify-content-lg-end">
                <div class="schedule-dropdown">
                    <div class="dropdown shedule-dropdown" id="schedule-download-dropdown">
                        <button class="btn dropdown-toggle text-light schedule-dropdown-button flat-btn"
                                data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-download"></i>
                            <div class="button-label">Download</div> 
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" target="blank"
                               href="/Schedule/highLevelSchedulePdf">Highlevel Schedule</a>
                            <!--    <a class="dropdown-item" role="presentation" target="blank" href="/Schedule/detailedPdf">Detailed Schedule</a> -->
                        </div>

                    </div>
                </div>
                <div class="schedule-dropdown">
                    <div class="dropdown border-light" id="schedule-add2calendar-dropdown">
                        <button class="btn dropdown-toggle schedule-dropdown-button flat-btn" data-toggle="dropdown"
                                aria-expanded="false" type="button"><i class="far fa-calendar-alt"></i>
                            <div class="button-label">Add To calender</div>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                               onclick='calenderInvite("Google")'>Google Calender</a>
                            <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                               onclick='calenderInvite("Yahoo")'>Yahoo Calender</a>
                            <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal"
                               onclick='calenderInvite("Outlook")'>Outlook Calender</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="assignment-file-upload-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Submit Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" style="float: right" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="submission-modal-body" class="modal-body">

                </div>
                <div id = "submission-modal-footer" class="modal-footer">
                </div>

            </div>
        </div>
    </div>
</div>

<div id="presrentationImageModal" class="modal presrentationImageModal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div id="presrentationImageModalContent"></div>
        <a class="prev" onclick="plusSlides( - 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption">Hello...</p>
        </div>
    </div>
</div>

<div class="modal fade quizModal" role="dialog" tabindex="-1" id="quizModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="quizModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body questions-group p-5" id="quizModalBody">

            </div>
            <div class="modal-footer" id="quiz-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade reflectionModal" role="dialog" tabindex="-1" id="reflectionModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="reflectionModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="reflectionModalBody">
                <div>
                    <label for="inputProfile">Topic: <span id="reflectionTitle"></span></label>
                    <div id="editor-container"></div>
                </div>
            </div>
            <div class="modal-footer" id="reflection-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="notes-layout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Layout for the Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card border-light h-100 formatCard" id="1" style="padding:5px!important;margin-bottom: 5px;" >

                            <div class="card-body text-light border rounded border-light shadow" style="background-color: rgb(255,255,255);padding:10px!important"><img class="mx-auto img-fluid" src="../../images/type1.jpeg" style="padding:0px!important;  " />

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card border-light h-100 formatCard" id="2" style="padding:5px!important; margin-bottom: 5px;">

                            <div class="card-body text-light border rounded border-light shadow" style="background-color: rgb(255,255,255);padding: 10px!important; padding-bottom: 5px!important"><img class="mx-auto img-fluid" src="../../images/type2.jpeg"/>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card border-light h-100 formatCard" id="3" style="padding:5px!important; margin-bottom: 5px;">

                            <div class="card-body text-light border rounded border-light shadow" style="background-color: rgb(255,255,255);padding: 10px!important"><img class="mx-auto img-fluid" src="../../images/type3.jpeg"/>

                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="card border-light h-100 formatCard" id="4"  style="padding:5px!important; margin-bottom: 5px;">
                            <div class="card-body text-light border rounded border-light shadow" style="background-color: rgb(255,255,255);padding: 10px!important"><img class="mx-auto img-fluid" src="../../images/type4.jpeg"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button class="btn btn-sm" style="background-color: #ade2eb!important;color:#fff!important" onclick="previewNotes()">Preview</button>
                <button class="btn btn-sm" style="background-color: #02435c!important;color:#fff!important" onclick="downloadNotes()">Download</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
{% endblock %}

{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/assignments5.js"></script>
<script src="../../js/fileUpload.js"></script>
<script type="text/javascript" src="../../js/learnersQuiz2.js"></script>
<script type="text/javascript" src="../../js/quizzes1.js"></script>
<script type="text/javascript" src="../../js/Reflections.js"></script>
<script type="text/javascript" src="../../js/richText.js"></script>
<script src="../../js/presentationImageHandler.js"></script>
<script type="text/javascript" src="../../js/Schedule.js"></script>
<script src="../../js/sessionSlideNotes.js"></script>
<script src="../../js/genericFileUploadV2.js"></script>

{% endblock %}
