
{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="../../css/fileUpload.css">
<link rel="stylesheet" href="../../css/presentations.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



{% endblock %}

{% block body %}

{% set course_start_date = "" %}
{% set course_end_date = "" %}
{% set remote_session_link = "" %}
{% set remote_session_id = "" %}
{% for session in sessions %}
{% if loop.first %}
{% set course_start_date = session['session_schedule_date'] %}
{% elseif loop.last %}
{% set course_end_date = session['session_schedule_date'] %}
{% endif %}

{% set start_time = session['session_schedule_start_time'] %}
{% set end_time = session['session_schedule_end_time'] %}
{% set schedule_date = session['session_schedule_date'] %}
{% set current_time =  now|date("H:i") %}
{% set current_time_plus_ten =  time_for_remote_link['time'] %}
{% if schedule_date == time_for_remote_link['date'] %}
{% if current_time_plus_ten >= start_time  and current_time <= end_time %}
{% set  remote_session_link = session['session_schedule_meeting_link'] %}
{% set  remote_session_id = session['session_index'] %}
{% endif %}
{% endif %}
{% endfor %}

<div class="container">
    <div class="text-center" id="session-table-heading">
        <h5>{{ courseName }}</h5>
        <h6>{{ course_start_date }} to {{ course_end_date }}</h6>

        <div class="row no-gutters text-right d-lg-flex justify-content-lg-end">
            <div class="schedule-dropdown">
                <div class="dropdown shedule-dropdown" id="schedule-download-dropdown">
                    <button class="btn dropdown-toggle text-light schedule-dropdown-button flat-btn" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-download"></i><div class="button-label">Download</div> </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" target="blank" href="/Schedule/highLevelSchedulePdf">Highlevel Schedule</a>
                        <a class="dropdown-item" role="presentation" target="blank" href="/Schedule/detailedPdf">Detailed Schedule</a>
                    </div>
                </div>
            </div>
            <div class="schedule-dropdown">
                <div class="dropdown border-light" id="schedule-add2calendar-dropdown">
                    <button class="btn dropdown-toggle schedule-dropdown-button flat-btn" data-toggle="dropdown" aria-expanded="false" type="button"><i class="far fa-calendar-alt"></i><div class="button-label">Add To calender</div></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Google")'>Google Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Yahoo")'>Yahoo Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Outlook")'>Outlook Calender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="session-container">
        {% if remote_session_link != "" %}
        <div class="row no-gutters d-xl-flex text-center  meeting-link ">

            <div class="col" >
                <a href="{{ remote_session_link }}" target="blank">
                    <div class=" btn btn-primary btn-sm pull-right m-1 px-3 ">
                        SESSION {{ remote_session_id }} IN-PROGRESS, JOIN THE MEETING NOW!
                    </div>
                </a>
            </div>
        </div>
        <hr class="m-0">
        {% endif %}
        {% set background = 'session-item-dark' %}
        {% for session in sessions %}

        {% if background == 'session-item-dark' %}
        {% set background = 'session-item-light' %}
        {% else %}
        {% set background = 'session-item-dark' %}
        {% endif %}

        <div class="row no-gutters d-xl-flex align-items-xl-center session-item-heading collapsed-session {{ background }}" id="session-heading-{{ session['session_id'] }}"  session-id="{{ session['session_id'] }}" onmouseover="addExpandCollapseIcon(this.id)" onmouseout="removeExpandCollapseIcon(this.id)" onclick="sessionHeadingRowClicked(this.id)" title="Click here to expand session details">
            <div class="col">
                <i id="session-expand-icon-{{ session['session_id'] }}"></i>
            </div>

            <div
                class="col col-sm-9 col-md-2">
                Session {{ session['session_index'] }}
            </div>

            <div class="col col-sm-7 col-md-5">

                {{ session['session_name'] }}
            </div>
            <div class="col col-sm-4 col-md-3">
                <div class="row">
                    <div class="col">

                        {{ session['session_schedule_date']}}, {{ session['session_schedule_start_time']}} to {{ session['session_schedule_end_time']}}
                    </div>
                </div>
            </div>
            <div class="col col-1">
                {% set session_recordings = session['session_recordings'] %}
                {% set video_parts = session_recordings['video_parts'] %}
                {% if video_parts is not empty %}

                <i class="fas fa-video-camera session-video-icon" id="session-video-icon{{ session['session_id'] }}" session-id="{{ session['session_id'] }}"  onclick="sessionVideoIconClicked(this.id)"></i>

                {% endif %}
            </div>
        </div>
        <div id="collapse-session{{ session['session_id'] }}" class="collapse">

            {% for sub_session in session['sub_sessions'] %}
            {% set block_type =  sub_session['sub_session_type'] %}
            {% set sub_session_name = sub_session['sub_session_name']  %}
            <div class =
                         {% if block_type == 'BREAK' %}

                 {{ "session-content-heading-lightgray" }}
                 {% else %}

                 {{ "session-content-heading-gray" }}
                 {% endif %}
                 >

                <div class="col d-xl-flex align-items-xl-center">
                    {% if block_type == 'BREAK' %}
                    <span class="text-left"><i class="fas fa-coffee" aria-hidden="true"></i>{{ " BREAK" }} </span>
                    {% elseif sub_session_name == "" %}
                    <span class="text-left"><i class="fas fa-puzzle-piece"></i>{{ " Module " }} {{ sub_session['module_index'] }}{{ ": " }} {{ sub_session['module_name'] }}</span>
                    {% else %}
                    <span class="text-left">{{ sub_session['sub_session_name'] }} </span>
                    {% endif %}
                </div>
            </div>
            {% if block_type != 'BREAK' %}
            <div class="row no-gutters session-item-content">
                <div class="col col-4">
                    <p>Topics</p>
                    <ul>
                        {% for topic in sub_session['topics'] %}
                        <li>{{ topic }}<br /></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col col-4">
                    <p>Objectives</p>
                    <ul>
                        {% for objective in sub_session['objectives'] %}
                        <li>{{ objective }}<br /></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col col-4">
                    <p>Activity orLearning Methods</p>
                    <ul>
                        {% for learning_method in sub_session['learning_methods'] %}
                        <li>{{ learning_method }}<br /></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="d-xl-flex align-items-xl-center session-recording-section-heading recordings-section-collapsed" session-id="{{ session['session_id'] }}" id="session-recordings-heading-{{ session['session_id'] }}"  onclick="recordingsSectionHeadingClicked(this.id)">
                <i id="session-recording-expand-icon-{{ session['session_id'] }}" class="fas fa-2x fa-angle-double-right" ></i> Session Recordings & Resources
            </div>
            <div  class="collapse mb-1" id="session-recording-section-{{ session['session_id'] }}">
                {% set session_recordings = session['session_recordings'] %}
                {% set video_parts = session_recordings['video_parts'] %}
                <div class="card session-recording-item" id="video-section-{{ session['session_id'] }}">
                    <div class="row no-gutters">
                        <div class="card">
                            <ul class="nav nav-tabs active bg-light">
                                {% for video_part in video_parts %}
                                {% set video_id = video_part['id'] %}
                                {% if loop.first %}
                                <li class="nav-item active" data-toggle="tab">
                                    <a class="nav-link active" data-toggle="tab" href="#schedule_video_section{{ video_id }}">
                                        <img {{ 'src="' }} {{ video_part.thumbnail_link }} {{ '"' }} width="200" style="width: 150px;" />
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item active" data-toggle="tab">
                                    <a class="nav-link" data-toggle="tab" href="#schedule_video_section{{ video_id }}">
                                        <img {{ 'src="' }} {{ video_part.thumbnail_link }} {{ '"' }} width="200" style="width: 150px;" />
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="card-body tab-content">
                                {% for video_part in video_parts %}
                                {% set video_id = video_part['id'] %}
                                {% if loop.first %}
                                <div id="schedule_video_section{{ video_id }}" class="tab-pane fade active show">
                                    <div class="row" >
                                        <div class="col">
                                            <video width="100%" controls><source {{ 'src="' }} {{ video_part.video_link }} {{ '"' }} type="video/mp4"></source></video>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div id="schedule_video_section{{ video_id }}" class="tab-pane fade">
                                    <div class="row" >
                                        <div class="col">
                                            <video width="100%" controls><source {{ 'src="' }} {{ video_part.video_link }} {{ '"' }} type="video/mp4"></source></video>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if session_recordings['presentationImage'] | length  < 2 %}
                {% set presentations = session_recordings['presentations'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="fas fa-briefcase"></i>
                            <div class="resource-label">Presentations</div>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters resource-content-row">
                    {% for presentation in presentations %}
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <a class="card-link" href="{{ presentation['presentation_link'] }}" target="blank">
                            <div class="card resource-tumbnail">
                                <img class="img-fluid" src="{{ presentation['thumbnail_link'] }}"  />
                                <div class="card-body resources-card p-1">
                                    {{ presentation['name'] }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                {% set presentationImage = session_recordings['presentationImage'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="fas fa-briefcase"></i>
                            <div class="resource-label">Presentations*</div>
                        </span>
                    </div>
                </div>

                <div class="card session-recording-item">
                    <div class="row no-gutters" >
                        <div class="card w-100">
                            <div class="card-body p-0">
                                {% set countOfPresentations = presentationImage['countOfSlides'] %}
                                <div class="row presentation-row">
                                    <div class="col">
                                        <img id="presentationImage{{ session['session_id'] }}" class="img-fluid w-100" src="{{ presentationImage['filePath'] }}" order="{{ presentationImage['order'] }}" topic_id="{{ presentationImage['topic_id'] }}" />
                                    </div>
                                </div>
                             <!--   <div class="row presentation-row">
                                    <div class="col">
                                        <textarea readonly class="notes-non-editable" placeholder="Key Message"></textarea>
                                    </div>
                                </div>-->
                                <div class="row no-gutters presentation-nav-row">
                                    <div class="col col-5"></div>

                                    <div class="col col-2 presentation-nav-group">
                                        <button id="previousPresentationNavBtn" class="btn presentation-nav-item" hidden type="button" title="Previous" onclick="navigateToNextSlideOfSession('Previous', {{ session['session_id'] }})">
                                            <i class="fas fa-2x fa-caret-left"></i>
                                        </button>
                                        <div class="presentation-nav-item">
                                            <div id="currentSlideIndex{{ session['session_id'] }}" class="slideIndexText" >1</div>
                                            <div class="slideIndexText">of</div>
                                            <div id="countOfSlides{{ session['session_id'] }}" class="slideIndexText">{{ countOfPresentations }}</div>
                                        </div>
                                        <button id="nextPresentationNavBtn" class="btn presentation-nav-item" type="button" title="Next" onclick="navigateToNextSlideOfSession('Next', {{ session['session_id'] }})">
                                            <i class="fas fa-2x fa-caret-right"></i>
                                        </button>
                                    </div>

                                    <div class="col col-3"></div>
                                    <div class="col col-2 presentation-action-group">
                                        <button class="btn fullscreen-icon" type="button" title="Expand to Full Screen">
                                            <i class="fas fa-expand" ></i>
                                        </button>
                                        <button class="btn add-notes-icon" type="button" title="Add Notes. Will be supported soon">
                                            <i class="fas fa-plus" ></i>
                                        </button>
                                    </div>
                                </div>
                             <!--   <div class="row presentation-row">
                                    <div class="col">
                                        <textarea readonly class="notes-non-editable m-0" placeholder="Notes to Facilitator"></textarea>
                                    </div>
                                </div>-->
                                <div class="row presentation-row">
                                    <div class="col">
                                        <textarea readonly class="notes-non-editable" placeholder="Notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% set assignments = session_recordings['assignments'] %}
                <div class="row no-gutters session-content-heading-gray">
                    <div class="col-12 text-left d-xl-flex justify-content-xl-start">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="far fa-sticky-note"></i>
                            <div class="resource-label">Assignments</div>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters resource-content-row">
                    {% for assignment in assignments %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 text-left">
                        <div class="card Asssignment-card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-title">{{ assignment['name'] }}</p>
                                    </div>
                                    {% if assignment['submission_id'] is not empty %}
                                    <div class="col col-1">
                                        <i class="fas fa-check assignment-upload-status-icon" data-toggle="tooltip" title="your files are uploaded"></i>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="card-body card-text assignment-description">
                                {{ assignment['description'] | raw }}
                            </div>
                            <div class="card-footer">
                                {% set assignment_id = assignment['id'] %}
                                {% set reference_documents = assignment['reference_documents'] %}
                                {% set reference_document_count = reference_documents | length %}

                                <div class="row">
                                    {% if reference_document_count > 0 %}
                                        <div class="col assignment-references" >
                                            <div class="card-footer-title text-left">Reference Documents</div>
                                            {% for reference_document in reference_documents %}
                                            <div class="file-name" ><i class="far fa-file mr-1"></i>
                                                <a role="presentation" href="{{ reference_document['document_link'] }}" target="blank">{{ reference_document['document_name'] }}</a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        {% if assignment['submission_id'] is empty %}
                                            <button class="btn btn-bg-lightgray flat-btn ml-1 assignment-upload-button float-right mt-2" assignmentId="{{ assignment_id }}" internalFileName="{{ assignment['internalFileName'] }}" data-toggle="modal" data-target="#assignment-file-upload-modal" type="submit">
                                                <i class="fas fa-upload"></i><div class="button-label">Upload </div>
                                            </button>
                                        {% endif %}
                                        {% if assignment['submission_id'] is not empty %}
                                            <div class="card-footer-title text-left">Submitted Documents</div>
                                            {% set uploadedDocuments = assignment['uploaded_documents'] %}
                                            {% set oneDocumentDetails = uploadedDocuments[0] %}
                                            <a class="uploaded-assignment-download" role="presentation" href="#" >
                                                <div class="Submitted-Documents">
                                                <i class="fas fa-download submitted-assignment-download-icon" onclick="startDownload('{{ oneDocumentDetails['url'] }}')" data-toggle="tooltip" title="click to download the uploaded file"></i>
                                                <span>{{ oneDocumentDetails['name'] }}</span>
                                                </div>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% set quiz_question_groups = session_recordings['quiz_question_groups'] %}
                {% if quiz_question_groups is not empty %}
                    <div class="row no-gutters session-content-heading-gray">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="far fa-list-alt"></i>
                            <div class="resource-label">Quiz</div>
                        </span>
                    </div>
                    <div class="row no-gutters quiz-content-row" id="quiz-row">
                        {% for quiz_question_group in quiz_question_groups %}
                        <div class="card quiz-card" data-toggle="modal" href="#quizModal" onclick="getQuizQuestions({{ quiz_question_group['id'] }})">
                            <div class="card-heading">
                                <div class="row">
                                    <div class="col quiz-title">
                                        {{ quiz_question_group['quiz_group_name'] }}
                                    </div>
                                    <div id="quizTickMark-{{ quiz_question_group['id'] }}"></div>
                                    {% if quiz_question_group['answer_status'] == "ANSWERED" %}
                                    <div class="col col-1 on-submission-tickmark">
                                        <i class="icon fa fa-check"></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                {% endif %}
                {% set reflections = session_recordings['reflectionDetails'] %}
                {% if reflections is not empty %}
                    <div class="row no-gutters session-content-heading-gray">
                        <span class="text-left d-xl-flex align-items-xl-center assignment-span">
                            <i class="far fa-list-alt"></i>
                            <div class="resource-label">Reflections</div>
                        </span>
                    </div>
                    <div class="row no-gutters reflection-content-row" id="reflection-row">
                        {% for reflection in reflections %}
                        <div class="card reflection-card" data-toggle="modal" href="#reflectionModal" reflectionName="{{ reflection['topic'] }}" onclick="getReflection({{ reflection['id'] }}, {{ '\'' }} {{ reflection['topic'] }} {{ '\'' }})">
                            <div class="card-heading">
                                <div class="row">
                                    <div class="col reflection-title">
                                        {{ reflection['topic'] }}
                                    </div>
                                    {% if reflection['answer_status'] == "ANSWERED" %}
                                    <div class="col col-1 on-submission-tickmark " id="reflectionTickMark-{{ reflection['id'] }}">
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% else %}
                                    <div class="col col-1 on-submission-tickmark " id="reflectionTickMark-{{ reflection['id'] }}" hidden>
                                        <i class="icon fa fa-check "></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center" id="session-table-heading">
        <div class="row no-gutters text-right d-lg-flex justify-content-lg-end">
            <div class="schedule-dropdown">
                <div class="dropdown shedule-dropdown" id="schedule-download-dropdown">
                    <button class="btn dropdown-toggle text-light schedule-dropdown-button flat-btn" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-download"></i><div class="button-label">Download</div> </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" target="blank" href="https://drive.google.com/file/d/14Y6F9XtER2atSOIDs2UguLktgBY60NUt/view?usp=sharing">Highlevel Schedule</a>
                        <a class="dropdown-item" role="presentation" target="blank" href="https://drive.google.com/file/d/1ZE7SO2BK591gujoHswkvPcvFB9crDwPu/view?usp=sharing">Detailed Schedule</a>
                    </div>

                </div>
            </div>
            <div class="schedule-dropdown">
                <div class="dropdown border-light" id="schedule-add2calendar-dropdown">
                    <button class="btn dropdown-toggle schedule-dropdown-button flat-btn" data-toggle="dropdown" aria-expanded="false" type="button"><i class="far fa-calendar-alt"></i><div class="button-label">Add To calender</div></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Google")'>Google Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Yahoo")'>Yahoo Calender</a>
                        <a class="modal-toggle dropdown-item" data-toggle="modal" data-target="#statusModal" onclick='calenderInvite("Outlook")'>Outlook Calender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="assignment-file-upload-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Submit Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" style="float: right" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="//{{ s3_details_4_assignment_upload['bucket'] }}.s3-{{ s3_details_4_assignment_upload['region'] }}.amazonaws.com" method="POST" enctype="multipart/form-data" class="direct-upload">

                        <!-- We'll specify these variables with PHP -->
                        <!-- Note: Order of these is Important -->
                        <input type="hidden" name="key" >
                        <input type="hidden" name="AWSAccessKeyId" value="{{ s3_details_4_assignment_upload['accesskey'] }}">
                        <input type="hidden" name="acl" value="{{ s3_details_4_assignment_upload['acl'] }}">
                        <input type="hidden" name="success_action_status" value="201">
                        <input type="hidden" name="policy" value="{{ s3_details_4_assignment_upload['base64Policy'] }}">
                        <input type="hidden" name="signature" value="{{ s3_details_4_assignment_upload['signature'] }}">


                        <input type="file" name="file" id="assignment-file-input"  />
                        <label for="assignment-file-input">Choose a file</label>

                        <!-- Progress Bar to show upload completion percentage -->
                        <div class="progress" ><div class="bar" ></div></div>
                    </form>

                    <!-- Used to Track Upload within our App -->
                    <form id="fileUploadForm" action="/processFileUpload.php" method="POST">
                         <!--<input id="uploadedFileName" type="hidden" name="uploadedFileName" />-->

                        <label for="upload_custom_name">File:</label>
                        <input id="uploadedFileName" type="text" name="uploadedFileName"/><br />

                        <input id="uploadedFileType" type="hidden" name="uploadedFileType" />
                        <input id="uploadedFileSize" type="hidden" name="uploadedFileSize" />
                        <input id="internalFileName" type="hidden" name="internalFileName" />
                        <input id="assignmentId" type="hidden" name="assignmentId" />
                        <input id="filePurpose" type="hidden" name="filePurpose" />


                        <div class="mb-2 mt-2">
                            <label>Submission Type:</label>
                            <select id="submissionTypesDropdown" class="assignment-self-team" onchange="changeOfSubmissionTypesListener()">
                                <option value="self" selected="">Self</option>
                                <option value="team">Team</option>
                            </select>
                        </div>

                        <div id="team" hidden>
                            <div class="card mb-3 mt-2 ml-2 mr-2">
                                <div class="card-body">
                                    <label><i class="fas fa-users mr-1"></i>Select your Team Members:</label>
                                    {% for team_member in team_members %}
                                    <div><input type="checkbox" class="mr-2 ml-2 mt-1 mb-2" name="teamMembers[]" value="{{ team_member['name'] }}">{{ team_member['name'] }}<br/></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <button id="assignment-submit-button" class="btn btn-bg-lightgray flat-btn mt-3" type="submit" ><i class="fas fa-check"></i>
                                    <div class="button-label">Submit</div>
                                </button>
                            </div>
                        </div>
                        <div class="row wait-gif">
                            <div class="col">
                                <img id="wait" src="../../images/wait.gif">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="result" class="my-3"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="presrentationImageModal" class="modal presrentationImageModal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div id="presrentationImageModalContent"></div>
        <a class="prev" onclick="plusSlides( - 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption">Hello...</p>
        </div>
    </div>
</div>

<div class="modal fade quizModal" role="dialog" tabindex="-1" id="quizModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="quizModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body questions-group p-5" id="quizModalBody">

            </div>
            <div class="modal-footer" id = "quiz-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade reflectionModal" role="dialog" tabindex="-1" id="reflectionModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="reflectionModalHeading"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="reflectionModalBody">
                <div>
                    <label for="inputProfile">Topic: <span id="reflectionTitle"></span></label>
                    <div id="editor-container"></div>
                </div>
            </div>
            <div class="modal-footer" id = "reflection-footer">

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
{% endblock %}

{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/fileUpload.js"></script>
<script type="text/javascript" src="../../js/learnersQuiz2.js"></script>
<script type="text/javascript" src="../../js/quizzes1.js"></script>
<script type="text/javascript" src="../../js/Reflections.js"></script>
<script type="text/javascript" src="../../js/richText.js"></script>
<script src="../../js/presentationImageHandler.js"></script>
<script type="text/javascript" src="../../js/Schedule.js"></script>
{% endblock %}
