{% extends 'FacilitatorBase.html' %}

{% block head %}
<link rel="stylesheet" href="../../css/quiz.css">
<link rel="stylesheet" href="../../css/assignmentSubmissions1.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="../../css/fileUpload.css">
<link rel="stylesheet" href="../../css/presentations.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}


{% block body %}
<div class="setup-card-1" style="padding: 0px;">
  <section class="main-div">
    <div>
      <div class="row">
        <div class="col explore-col">
          <h4 class="text-left card-top-heading">
            <i class="fas fa-video"></i>
             Submitted Quiz
          </h4>
        </div>
      </div>
    </div>
  </section>

  {% if subjectList is not empty %}
  <section class="main-div">
    <div class="row explore-row">
      <div class="col-12 col-lg-5 text-center select-session-video zero-padding mb-2">
        <select class="custom-select custom-select-sm general-select-in-body" id="subjectList" onChange="clearContentDiv()">
          {% for subject in subjectList %}
              <option value="{{ subject['subject_id'] }}">{{ subject['subject'] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-5 text-center">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-calendar-day general-icon-in-body"></i></span>
          <select class="form-control-sm general-select-in-body select-border" id="programList" onChange="loadSubmittedQuiz()">
            <option value="" selected>Programs </option>
            {% if firstSubjectProgramList is not empty %}
                {% for program in firstSubjectProgramList %}
                    <option value="{{ program['course_id'] }}">{{ program['course_name'] }}</option>
                {% endfor %}
            {% endif %}
          </select>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="second-section main-div">
    <div id="mainHeading"></div>
    <div id="submittedQuizSection"></div>
  </section>
</div>

<div class="modal fade quizModal" role="dialog" tabindex="-1" id="quizModal">
  <div class="modal-dialog modal-xl" style="min-width: 87%!important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="quizModalHeading"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="closeQuizModal" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body questions-group p-5" id="quizModalBody">

      </div>
      <div class="modal-footer" id="quiz-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CloseButton">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
{% endblock %}

{% block bodyBottomInclusions %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="../../js/fileUpload.js"></script>
<script src="../../js/facilitatorQuiz4.js"></script>
<script src="../../js/learnersQuiz2.js"></script>
<script src="../../js/facilitatorUtils.js"></script>
<script type="text/javascript" src="../../js/quizzes1.js"></script>
<script type="text/javascript" src="../../js/Schedule.js"></script>
{% endblock %}
