{% extends 'newLearnerBase.html' %}

{% block pagehead %}
<link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>
<link rel="stylesheet" href="../../css/assignmentSubmissions1.css" />
<link rel="stylesheet" href="../../css/newLearnerBase.css" />
<link rel="stylesheet" href="../../css/myActivitiesSummary.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.min.css">

{% endblock %}

{% block section %}



<div class="setup-card-1 maincontent" style="padding: 0px;">
    <section class="main-div">
        <h4 class="card-top-heading">Summary</h4>

        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-lg-8 topHeading-col">
                <h5 class="heading-2">OVERALL POINTS</h5>
            </div>
        </div>

            <div class="row no-gutters overview-row ">

                <div class="col-12 col-lg-8 prog-par-col">
                    <div class="card-group h-100">
                        <div class="card card-thumbnail">
                        <div class="card-body card-thumbnail " id="earnedCard">
                            <h5 class="card-title card-heading-dashboard"><i class="fas fa-check-circle blue-icon"></i> Earned</h5>
                            <h4 class="card-title">{{ earned_points_data['total'] }}</h4>
                                    <div class="row no-gutters">
                                        <div class="col ">
                                            <div class="courceName-para zero-padding-left-right">

                                                    <p class="product-item left-right-padding-border details-card-body" style="display: inline; ">Assignments {{ earned_points_data['assignments'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Reflection {{ earned_points_data['reflections'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border  details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Quiz {{ earned_points_data['quizzes'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border  details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Exam-Prep {{ earned_points_data['exam_preps'] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <div class="card card-thumbnail">
                        <div class="card-body card-thumbnail">
                            <h5 class="card-title card-heading-dashboard"><i class="fas fa-cog blue-icon"></i> Available</h5>
                            <h4 class="card-title">{{ availble_points_data['total'] }}</h4>
                                    <div class="row no-gutters">
                                        <div class="col ">
                                            <div class="courceName-para zero-padding-left-right">

                                                    <p class="product-item left-right-padding-border details-card-body" style="display: inline; ">Assignments {{ availble_points_data['assignments'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Reflection {{ availble_points_data['reflections'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border  details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Quiz {{ availble_points_data['quizzes'] }}</p>

                                                    <p id="product-2" class="product-item left-right-padding-border  details-card-body" style="display: inline;border-width: 1px;border-left-style: solid;">Exam-Prep {{ availble_points_data['exam_preps'] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>

                <!-- <div class="col-12 col-lg-4 prog-par-col">

                            <div class="card card-thumbnail card-left-right-margin h-100">
                                <div class="card-body card-thumbnail">
                                    <h5 class="card-title card-heading-dashboard" ><i class="far fa-calendar-alt blue-icon"></i> Activities Approaching Deadline</h5>

                                    <h6 class="card-title deadline-approaching-fontsize">A : Phoenix Project</h6>
                                    <h6 class="card-title deadline-approaching-fontsize">Q : example quiz of session 1</h6>
                                    <h6 class="card-title deadline-approaching-fontsize">R : How is your Presence now?</h6>

                                </div>
                            </div>
                          </div> -->
                        </div>



<!-- second row -->
                <div id=" sessionCardDivId " class="card session-card zero-padding no-border top-margin" >
                    <div class="row no-gutters resource-content-row" style="">
                        <h4 class="card-top-sub-heading main-heading-card">Assignments</h4>
                    </div>
                    <div class="row no-gutters resource-content-row " style="padding-left: 2px!important">



                        <div class="col-xs-12 col-sm-6 col-md-6 prog-par-col zero-padding" style="margin-left: 0px!important">
                            <div class="card chart-card box-shadow ml-1 pb-0 h-100 zero-padding" >
                                <div class="chart-card-heading">
                                    <h5 class="card-title card-heading-dashboard" style="padding: 15px; margin-left: 5px;">Session wise Points</h5>
                                </div>

                                <script>
                                  var json_data1 = {{ assignmentSummary['dataForChart'] | json_encode |raw }}

                                </script>


                                <div class="card-body">
                                    <div id="stackedBarChart" >
                                        <div id="tooltip3">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 prog-par-col ">

                            <div class="card card-thumbnail box-shadow h-100" style="margin-left: 5px!important;">
                                <div class="card-body card-thumbnail mx-2 px-2">

                                    <h5 class="card-title card-heading-dashboard" >Pending </h5>

                                    <table  class="table table-striped table-bordered pendingTable" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Session</th>
                                                <th>Name</th>
                                                <th>Points</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                          {% for pendingAssignment in assignmentSummary['pendingAssignments'] %}
                                            <tr>
                                              <td>{{ pendingAssignment['session_index'] }}</td>
                                              <td>{{ pendingAssignment['assignment'] }}</td>
                                              <td>{{ pendingAssignment['points_allocated'] }}</td>
                                            </tr>
                                          {% endfor %}

                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>



                </div>
<!-- Reflection row -->

                <div id=" sessionCardDivId " class="card session-card zero-padding no-border top-margin" >
                    <div class="row no-gutters resource-content-row" style="background-color: red;">
                        <h4 class="card-top-sub-heading main-heading-card">Reflection</h4>
                    </div>
                    <div class="row no-gutters resource-content-row " style="padding-left: 2px!important">

                        <div class="col-12 col-md-6 col-lg-6 prog-par-col">

                            <div class="card card-thumbnail box-shadow card-left-right-margin h-100" style="margin-left: 5px!important;">
                                <div class="card-body card-thumbnail  mx-2 px-2">

                                    <h5 class="card-title card-heading-dashboard" >Pending </h5>

                                    <table  class="table table-striped table-bordered pendingTable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Session</th>
                                                <th>Name</th>
                                                <th>Points</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pendingReflection in reflectionSummary['pendingAssignments'] %}
                                            <tr>
                                              <td>{{ pendingReflection['session_index'] }}</td>
                                              <td>{{ pendingReflection['assignment'] }}</td>
                                              <td>{{ pendingReflection['points_allocated'] }}</td>
                                            </tr>
                                          {% endfor %}

                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 prog-par-col zero-padding">
                            <div class="card chart-card box-shadow ml-1 pb-0 h-100 zero-padding" >
                                <div class="chart-card-heading">
                                    <h5 class="card-title card-heading-dashboard" style="padding: 15px; margin-left: 5px;">Session wise Points</h5>
                                </div>
                                <script>
                                  var json_data4 = {{ reflectionSummary['dataForChart'] | json_encode |raw }}

                                </script>

                                <div class="card-body">
                                    <div id="stackedBarChartReflection" >
                                        <div id="tooltip3">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

    <!-- Quiz Row -->

                <div id=" sessionCardDivId " class="card session-card zero-padding no-border top-margin" >
                    <div class="row no-gutters resource-content-row" style="background-color: red;">
                        <h4 class="card-top-sub-heading main-heading-card">Quiz</h4>
                    </div>
                    <div class="row no-gutters resource-content-row " style="padding-left: 2px!important">

                        <div class="col-xs-12 col-sm-6 col-md-6 prog-par-col zero-padding">
                            <div class="card chart-card box-shadow ml-1 pb-0 h-100 zero-padding" >
                                <div class="chart-card-heading">
                                    <h5 class="card-title card-heading-dashboard" style="padding: 15px; margin-left: 5px;">Session wise Points</h5>
                                </div>
                                <script>
                                  var json_data2 = {{ quizSummary['dataForChart'] | json_encode |raw }}

                                </script>
                                <div class="card-body">
                                    <div id="stackedBarChartQuiz" >
                                        <div id="tooltip3">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 prog-par-col">

                            <div class="card card-thumbnail box-shadow card-left-right-margin h-100" style="margin-left: 5px!important;">
                                <div class="card-body card-thumbnail  mx-2 px-2">

                                    <h5 class="card-title card-heading-dashboard" >Pending </h5>

                                    <table class="table table-striped table-bordered pendingTable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Session</th>
                                                <th>Name</th>
                                                <th>Points</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pendingQuiz in quizSummary['pendingAssignments'] %}
                                            <tr>
                                              <td>{{ pendingQuiz['session_index'] }}</td>
                                              <td>{{ pendingQuiz['assignment'] }}</td>
                                              <td>{{ pendingQuiz['points_allocated'] }}</td>
                                            </tr>
                                          {% endfor %}

                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>



                </div>
<!-- exam Prep -->

                <div id=" sessionCardDivId " class="card session-card zero-padding no-border top-margin" >
                    <div class="row no-gutters resource-content-row" style="background-color: red;">
                        <h4 class="card-top-sub-heading main-heading-card">Exam Preparation</h4>
                    </div>
                    <div class="row no-gutters resource-content-row " style="padding-left: 2px!important">

                        <div class="col-12 col-md-6 col-lg-6 prog-par-col">

                            <div class="card card-thumbnail box-shadow card-left-right-margin h-100" style="margin-left: 5px!important;">
                                <div class="card-body card-thumbnail mx-2 px-2">

                                    <h5 class="card-title card-heading-dashboard" >Pending </h5>

                                    <table class="table table-striped table-bordered pendingTable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Module</th>
                                                <th>Name</th>
                                                <th>Points</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pendingExamPrep in examPrepSummary['pendingAssignments'] %}
                                            <tr>
                                              <td>{{ pendingExamPrep['session_index'] }}</td>
                                              <td>{{ pendingExamPrep['assignment'] }}</td>
                                              <td>{{ pendingExamPrep['points_allocated'] }}</td>
                                            </tr>
                                          {% endfor %}

                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 prog-par-col zero-padding">
                            <div class="card chart-card box-shadow ml-1 pb-0 h-100 zero-padding" >
                                <div class="chart-card-heading">
                                    <h5 class="card-title card-heading-dashboard" style="padding: 15px; margin-left: 5px;">Module wise Points</h5>
                                </div>
                                <script>
                                  var json_data3 = {{ examPrepSummary['dataForChart'] | json_encode |raw }}

                                </script>
                                <div class="card-body">
                                    <div id="stackedBarChartExamPrep" >
                                        <div id="tooltip3">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


    </section>
</div>

{% endblock %}

{% block pageBottomInclusions %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.min.js"></script>
<link rel="stylesheet" href="../../css/tooltip.css" />
<script src="../../js/stackedBarChart.js"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
<script src="../../js/myActivities.js"></script>

{% endblock %}
